
@import "abstracts/mixins";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "layout/navbar";

@import "admin/addImageForm";
@import "admin/addPortfolioForm";
@import "admin/fileUpload";

@import "auth/login";

//pages
@import "components/backgroundCarousel";
@import "components/story";
@import "components/portfolios";
@import "components/portfoliosList";
@import "components/shop";
@import "components/selectedArtwork";
@import "components/exhibitions";
@import "components/cart";

@import "components/UI/imageCard";
@import "components/UI/spinner";
@import "components/UI/thumbnail";
@import "components/UI/button";
