
.navbar {
  grid-column: 1 / -1;
  width: 100%;
  padding: .25rem 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  opacity: 1;
  top: 0;
  // border-bottom: 1px black solid;
  
  &__logo {
    flex: 0 1 10%;
    height: 6rem;
    padding: 0 4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    // background-color: orangered;
  }
  
    &__links {
      flex: 1;
      height: 20%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 0 0;
      border-bottom: 1px black solid;
      background-color: var(--primary-color);
      box-shadow: var(--shadow-dark);
      opacity: .7;
    }
  
    &__link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 6rem;
      width: 6rem;
    }

    &__link:link,
    &__link:visited,
    &__dropbtn {
      flex: 0 0 10%;
      color: black;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;
      width: max-content;
      background-color: none;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      line-height: 2;
      
      &:hover {
        color: blue;
      }
    }
    
    &__dropdown {
      background-color: none;
    }

    &__dropdown &__dropbtn {
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      outline: none;
      border: none;
      font-size: 1rem;
      
    }

    &__dropdown:hover &__dropdown-list {
      display: flex;
      // box-shadow: var(--shadow-medium);
    }

    

    &__dropdown-list {
      background-color: black;
      position: absolute;
      display: none;
      flex-direction: column;
      text-transform: uppercase;
      justify-content: space-evenly;
      align-items: center;
      min-width: 20rem;
      min-height: 25rem;
      transform: translateY(-6%) translateX(-30%);
      clip-path: polygon(0 5%, 45% 5%, 50% 0%, 50% 0%, 55% 5%, 100% 5%, 
        100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 2;

      &:hover {
        display: flex;
        color: white;
      }
    }


    &__portfolio-link {
      color: white;
      text-align: center;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem 3rem;

      &:hover {
        background-color: lighten(black, 15px);
        width: 100%;
        background-color: blueviolet;
        color: white;
        text-decoration: none;
      }
    }

    &__icon {
      height: 2rem;
      width: 2rem;

      &:hover {
        fill: blue;
      }
    }

}

.name-first {
  flex: 0 1 10%;
  color: black;
  font-size: 3.5rem;
  z-index: 2;
  text-decoration: underline black;
}

.name-last {
  flex: 0 1 50%;
  font-size: 9.5rem;
  padding-top: 3rem;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 2;
  transform: translateY(4px);
}
