/*
COLORS
*/
:root {
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-grey-light-1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 2rem 2rem; }

.heading-4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.6rem;
  color: var(--color-dark-blue-primary); }

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: [full-start] 1fr [header-start] 20vh [header-end content-start] -webkit-min-content [content-end] 1fr [full-end];
  grid-template-rows: [full-start] 1fr [header-start] 20vh [header-end content-start] min-content [content-end] 1fr [full-end];
  grid-template-columns: repeat(8, [col-start] minmax(-webkit-min-content, 20rem) [col-end]);
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 20rem) [col-end]); }

.navbar {
  padding: 0rem 0rem;
  grid-row: full-start / header-start;
  grid-column: 1 / -1;
  height: 50%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .navbar__artist {
    color: white;
    flex: 0 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .navbar__links {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-grey-light-4); }
  .navbar__link:link, .navbar__link:visited, .navbar__dropbtn {
    color: black;
    cursor: pointer;
    font-weight: 200;
    text-decoration: none;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    line-height: 2;
    background-color: var(--color-grey-dark-1); }
    .navbar__link:link:hover, .navbar__link:visited:hover, .navbar__dropbtn:hover {
      color: blue; }

.name-first {
  font-size: 3.5rem;
  color: white;
  text-shadow: 1.5px -4px black;
  z-index: 2;
  -webkit-text-decoration: underline white;
          text-decoration: underline white; }

.name-last {
  font-size: 9.5rem;
  padding-top: 3rem;
  color: white;
  text-shadow: 3px -8px black;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
          clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  z-index: 2; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  min-height: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content__link {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .dropdown-content__link:hover {
      color: blue; }

.dropdown-content a {
  color: black;
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase; }

.dropdown-content a:hover {
  flex: 0 0 100%;
  background-color: #ddd;
  color: blue;
  height: 1.5rem; }
  .dropdown-content a:hover__link {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(0.5%) translateX(-25%); }
  .dropdown:hover .dropdown-content__link:hover {
    align-self: center;
    text-transform: uppercase;
    font-size: 1rem; }

.bg-carousel {
  grid-row: full-start / -1;
  grid-column: 1 / -1;
  z-index: 0; }
  .bg-carousel__img-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 20vh);
    grid-template-columns: repeat(4, 25vw); }

.iconbox {
  z-index: 1;
  transition: all .2s; }
  .iconbox--left {
    height: 5rem;
    width: 5rem;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    align-self: center;
    background-color: var(--color-grey-light-4);
    transform: translateX(-10rem);
    display: flex;
    justify-content: center;
    align-items: center; }
  .iconbox--right {
    height: 5rem;
    width: 5rem;
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
    justify-self: center;
    align-self: center;
    background-color: var(--color-grey-light-4);
    transform: translateX(10rem);
    display: flex;
    justify-content: center;
    align-items: center; }

.icon--left {
  height: 2rem;
  width: 2rem; }

.icon--right {
  height: 2rem;
  width: 2rem; }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 2;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.story {
  height: 25vh;
  margin-top: 2rem;
  grid-row: row-start 1 / row-end 1;
  display: grid;
  grid-template-columns: [full-start] 1fr [image-start] 50% [image-end bio-start] 40% [bio-end] 1fr [full-end]; }
  .story__artist-pics {
    grid-column: full-start / image-end;
    background-image: linear-gradient(rgba(87, 102, 153, 0.55), rgba(74, 93, 153, 0.55)), url("/css/images/aerial2.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr); }
  .story__img-1 {
    width: 100%; }
  .story__img-2 {
    width: 100%; }
  .story__artist-bio {
    grid-column: bio-start / full-end;
    background-color: pink; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNvbXAuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOztDQUVDO0FBQ0Q7RUFDRSx5QkFBeUI7RUFDekIsNEJBQTRCO0VBQzVCLHdCQUF3QjtFQUN4Qiw4QkFBOEI7RUFDOUIsNkJBQTZCO0VBQzdCLDZCQUE2QjtFQUM3Qiw2QkFBNkI7RUFDN0IsNkJBQTZCO0VBQzdCLDBCQUEwQjtFQUMxQix5QkFBeUI7RUFDekIseUJBQXlCO0VBQ3pCLHlCQUF5QjtFQUN6Qiw4Q0FBOEM7RUFDOUMsNENBQTRDO0VBQzVDLDJDQUEyQyxFQUFFOztBQUUvQztFQUNFLFNBQVM7RUFDVCxVQUFVLEVBQUU7O0FBRWQ7OztFQUdFLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLHNCQUFzQjtFQUN0QixnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxxQ0FDUztFQUNULGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0Usd0VBQXdFO0VBQ3hFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGlCQUFpQjtFQUNqQixxQ0FBcUMsRUFBRTs7QUFFekM7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLGFBQWE7RUFDYixvSUFBNEg7RUFBNUgsNEhBQTRIO0VBQzVILDBGQUFrRjtFQUFsRixrRkFBa0YsRUFBRTs7QUFFdEY7RUFDRSxrQkFBa0I7RUFDbEIsbUNBQW1DO0VBQ25DLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsV0FBVztFQUNYLDZCQUE2QjtFQUM3QixVQUFVO0VBQ1YsYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixtQkFBbUIsRUFBRTtFQUNyQjtJQUNFLFlBQVk7SUFDWixhQUFhO0lBQ2IsYUFBYTtJQUNiLG1CQUFtQjtJQUNuQix1QkFBdUI7SUFDdkIsbUJBQW1CO0lBQ25CLGdCQUFnQixFQUFFO0VBQ3BCO0lBQ0UsT0FBTztJQUNQLFlBQVk7SUFDWixhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLDZCQUE2QjtJQUM3QixtQkFBbUI7SUFDbkIsZ0JBQWdCO0lBQ2hCLDJDQUEyQyxFQUFFO0VBQy9DO0lBQ0UsWUFBWTtJQUNaLGVBQWU7SUFDZixnQkFBZ0I7SUFDaEIscUJBQXFCO0lBQ3JCLGVBQWU7SUFDZix5QkFBeUI7SUFDekIscUJBQXFCO0lBQ3JCLGNBQWM7SUFDZCwwQ0FBMEMsRUFBRTtJQUM1QztNQUNFLFdBQVcsRUFBRTs7QUFFbkI7RUFDRSxpQkFBaUI7RUFDakIsWUFBWTtFQUNaLDZCQUE2QjtFQUM3QixVQUFVO0VBQ1Ysd0NBQWdDO1VBQWhDLGdDQUFnQyxFQUFFOztBQUVwQztFQUNFLGlCQUFpQjtFQUNqQixpQkFBaUI7RUFDakIsWUFBWTtFQUNaLDJCQUEyQjtFQUMzQixrSEFBMEc7VUFBMUcsMEdBQTBHO0VBQzFHLFVBQVUsRUFBRTs7QUFFZDtFQUNFLGFBQWE7RUFDYixrQkFBa0I7RUFDbEIseUJBQXlCO0VBQ3pCLGdCQUFnQjtFQUNoQixpQkFBaUI7RUFDakIsK0NBQStDO0VBQy9DLFVBQVUsRUFBRTtFQUNaO0lBQ0UsYUFBYTtJQUNiLG1CQUFtQjtJQUNuQix1QkFBdUIsRUFBRTtJQUN6QjtNQUNFLFdBQVcsRUFBRTs7QUFFbkI7RUFDRSxZQUFZO0VBQ1oscUJBQXFCO0VBQ3JCLFdBQVc7RUFDWCxlQUFlO0VBQ2YseUJBQXlCLEVBQUU7O0FBRTdCO0VBQ0UsY0FBYztFQUNkLHNCQUFzQjtFQUN0QixXQUFXO0VBQ1gsY0FBYyxFQUFFO0VBQ2hCO0lBQ0UsYUFBYTtJQUNiLG1CQUFtQjtJQUNuQix1QkFBdUIsRUFBRTs7QUFFN0I7RUFDRSxhQUFhO0VBQ2Isc0JBQXNCO0VBQ3RCLDZCQUE2QjtFQUM3Qiw0Q0FBNEMsRUFBRTtFQUM5QztJQUNFLGtCQUFrQjtJQUNsQix5QkFBeUI7SUFDekIsZUFBZSxFQUFFOztBQUVyQjtFQUNFLHlCQUF5QjtFQUN6QixtQkFBbUI7RUFDbkIsVUFBVSxFQUFFO0VBQ1o7SUFDRSxzQkFBc0I7SUFDdEIsNEJBQTRCO0lBQzVCLDJCQUEyQjtJQUMzQixXQUFXO0lBQ1gsWUFBWTtJQUNaLGFBQWE7SUFDYixtQ0FBbUM7SUFDbkMsc0NBQXNDLEVBQUU7O0FBRTVDO0VBQ0UsVUFBVTtFQUNWLG1CQUFtQixFQUFFO0VBQ3JCO0lBQ0UsWUFBWTtJQUNaLFdBQVc7SUFDWCxvQkFBb0I7SUFDcEIsdUJBQXVCO0lBQ3ZCLG9CQUFvQjtJQUNwQixrQkFBa0I7SUFDbEIsMkNBQTJDO0lBQzNDLDZCQUE2QjtJQUM3QixhQUFhO0lBQ2IsdUJBQXVCO0lBQ3ZCLG1CQUFtQixFQUFFO0VBQ3ZCO0lBQ0UsWUFBWTtJQUNaLFdBQVc7SUFDWCxvQkFBb0I7SUFDcEIsdUJBQXVCO0lBQ3ZCLG9CQUFvQjtJQUNwQixrQkFBa0I7SUFDbEIsMkNBQTJDO0lBQzNDLDRCQUE0QjtJQUM1QixhQUFhO0lBQ2IsdUJBQXVCO0lBQ3ZCLG1CQUFtQixFQUFFOztBQUV6QjtFQUNFLFlBQVk7RUFDWixXQUFXLEVBQUU7O0FBRWY7RUFDRSxZQUFZO0VBQ1osV0FBVyxFQUFFOztBQUVmO0VBQ0UsMENBQTBDO0VBQzFDLFlBQVk7RUFDWixVQUFVO0VBQ1Ysa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQix1QkFBdUI7RUFDdkIsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQix5QkFBeUI7RUFDekIscUJBQXFCO0VBQ3JCLGlCQUFpQixFQUFFO0VBQ25CO0lBQ0UsV0FBVyxFQUFFO0VBQ2Y7SUFDRSxZQUFZLEVBQUU7O0FBRWxCO0VBQ0UsWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixpQ0FBaUM7RUFDakMsYUFBYTtFQUNiLDRHQUE0RyxFQUFFO0VBQzlHO0lBQ0UsbUNBQW1DO0lBQ25DLG9IQUFvSDtJQUNwSCxzQkFBc0I7SUFDdEIsMkJBQTJCO0lBQzNCLGFBQWE7SUFDYixrQ0FBa0M7SUFDbEMscUNBQXFDLEVBQUU7RUFDekM7SUFDRSxXQUFXLEVBQUU7RUFDZjtJQUNFLFdBQVcsRUFBRTtFQUNmO0lBQ0UsaUNBQWlDO0lBQ2pDLHNCQUFzQixFQUFFIiwiZmlsZSI6InN0eWxlLnByZWZpeC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKlxyXG5DT0xPUlNcclxuKi9cbjpyb290IHtcbiAgLS1jb2xvci1ibGFjay1kYXJrOiBibGFjaztcbiAgLS1jb2xvci1ibGFjay1saWdodDogIzQ3NGU1ODtcbiAgLS1jb2xvci1wcmltYXJ5OiAjMjEyMzk2O1xuICAtLWNvbG9yLXByaW1hcnktbGlnaHQ6ICMzNTQ4ODU7XG4gIC0tY29sb3ItcHJpbWFyeS1kYXJrOiAjMGMwNzU1O1xuICAtLWNvbG9yLWdyZXktbGlnaHQtMTogI2ZhZjlmOTtcbiAgLS1jb2xvci1ncmV5LWxpZ2h0LTI6ICNmNGYyZjI7XG4gIC0tY29sb3ItZ3JleS1saWdodC0zOiAjZjBlZWVlO1xuICAtLWNvbG9yLWdyZXktbGlnaHQtNDogI2NjYztcbiAgLS1jb2xvci1ncmV5LWRhcmstMTogIzMzMztcbiAgLS1jb2xvci1ncmV5LWRhcmstMjogIzc3NztcbiAgLS1jb2xvci1ncmV5LWRhcmstMzogIzk5OTtcbiAgLS1zaGFkb3ctbGlnaHQ6IDAgMnJlbSA1cmVtIHJnYmEoMCwgMCwgMCwgLjA2KTtcbiAgLS1zaGFkb3ctZGFyazogMCAycmVtIDZyZW0gcmdiYSgwLCAwLCAwLCAuMyk7XG4gIC0tbGluZTogMXB4IHNvbGlkIHZhcigtLWNvbG9yLWdyZXktbGlnaHQtMSk7IH1cblxuKiB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDsgfVxuXG4qLFxuKjo6YmVmb3JlLFxuKjo6YWZ0ZXIge1xuICBib3gtc2l6aW5nOiBpbmhlcml0OyB9XG5cbmh0bWwge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBmb250LXNpemU6IDYyLjUlOyB9XG5cbmJvZHkge1xuICBmb250LWZhbWlseTogJ09wZW4gU2FucycsXHIgc2Fucy1zZXJpZjtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgbGluZS1oZWlnaHQ6IDEuNjtcbiAgcGFkZGluZzogMnJlbSAycmVtOyB9XG5cbi5oZWFkaW5nLTQge1xuICBmb250LWZhbWlseTogJ0ZyYW5rbGluIEdvdGhpYyBNZWRpdW0nLCAnQXJpYWwgTmFycm93JywgQXJpYWwsIHNhbnMtc2VyaWY7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7IH1cblxuLmhlYWRpbmctNCB7XG4gIGZvbnQtc2l6ZTogMS42cmVtO1xuICBjb2xvcjogdmFyKC0tY29sb3ItZGFyay1ibHVlLXByaW1hcnkpOyB9XG5cbi5jb250YWluZXIge1xuICB3aWR0aDogMTAwdnc7XG4gIGhlaWdodDogMTAwdmg7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGdyaWQtdGVtcGxhdGUtcm93czogW2Z1bGwtc3RhcnRdIDFmciBbaGVhZGVyLXN0YXJ0XSAyMHZoIFtoZWFkZXItZW5kIGNvbnRlbnQtc3RhcnRdIG1pbi1jb250ZW50IFtjb250ZW50LWVuZF0gMWZyIFtmdWxsLWVuZF07XG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDgsIFtjb2wtc3RhcnRdIG1pbm1heChtaW4tY29udGVudCwgMjByZW0pIFtjb2wtZW5kXSk7IH1cblxuLm5hdmJhciB7XG4gIHBhZGRpbmc6IDByZW0gMHJlbTtcbiAgZ3JpZC1yb3c6IGZ1bGwtc3RhcnQgLyBoZWFkZXItc3RhcnQ7XG4gIGdyaWQtY29sdW1uOiAxIC8gLTE7XG4gIGhlaWdodDogNTAlO1xuICB3aWR0aDogMTAwJTtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gIHotaW5kZXg6IDE7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7IH1cbiAgLm5hdmJhcl9fYXJ0aXN0IHtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgZmxleDogMCAwIDQwJTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBvdmVyZmxvdzogaGlkZGVuOyB9XG4gIC5uYXZiYXJfX2xpbmtzIHtcbiAgICBmbGV4OiAxO1xuICAgIGhlaWdodDogMTAwJTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1ldmVubHk7XG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xuICAgIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLWdyZXktbGlnaHQtNCk7IH1cbiAgLm5hdmJhcl9fbGluazpsaW5rLCAubmF2YmFyX19saW5rOnZpc2l0ZWQsIC5uYXZiYXJfX2Ryb3BidG4ge1xuICAgIGNvbG9yOiBibGFjaztcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgZm9udC13ZWlnaHQ6IDIwMDtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgZm9udC1zaXplOiAycmVtO1xuICAgIHRleHQtdHJhbnNmb3JtOiBsb3dlcmNhc2U7XG4gICAgbGV0dGVyLXNwYWNpbmc6IDEuNXB4O1xuICAgIGxpbmUtaGVpZ2h0OiAyO1xuICAgIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLWdyZXktZGFyay0xKTsgfVxuICAgIC5uYXZiYXJfX2xpbms6bGluazpob3ZlciwgLm5hdmJhcl9fbGluazp2aXNpdGVkOmhvdmVyLCAubmF2YmFyX19kcm9wYnRuOmhvdmVyIHtcbiAgICAgIGNvbG9yOiBibHVlOyB9XG5cbi5uYW1lLWZpcnN0IHtcbiAgZm9udC1zaXplOiAzLjVyZW07XG4gIGNvbG9yOiB3aGl0ZTtcbiAgdGV4dC1zaGFkb3c6IDEuNXB4IC00cHggYmxhY2s7XG4gIHotaW5kZXg6IDI7XG4gIHRleHQtZGVjb3JhdGlvbjogdW5kZXJsaW5lIHdoaXRlOyB9XG5cbi5uYW1lLWxhc3Qge1xuICBmb250LXNpemU6IDkuNXJlbTtcbiAgcGFkZGluZy10b3A6IDNyZW07XG4gIGNvbG9yOiB3aGl0ZTtcbiAgdGV4dC1zaGFkb3c6IDNweCAtOHB4IGJsYWNrO1xuICBjbGlwLXBhdGg6IHBvbHlnb24oMCUgMCUsIDAgMTAwJSwgMjUlIDEwMCUsIDAgNTclLCAxMDAlIDU3JSwgMTAwJSA2MCUsIDAgNTklLCAyNSUgMTAwJSwgMTAwJSAxMDAlLCAxMDAlIDApO1xuICB6LWluZGV4OiAyOyB9XG5cbi5kcm9wZG93bi1jb250ZW50IHtcbiAgZGlzcGxheTogbm9uZTtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjlmOWY5O1xuICBtaW4td2lkdGg6IDE2cmVtO1xuICBtaW4taGVpZ2h0OiAyMHJlbTtcbiAgYm94LXNoYWRvdzogMHB4IDhweCAxNnB4IDBweCByZ2JhKDAsIDAsIDAsIDAuMik7XG4gIHotaW5kZXg6IDE7IH1cbiAgLmRyb3Bkb3duLWNvbnRlbnRfX2xpbmsge1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjsgfVxuICAgIC5kcm9wZG93bi1jb250ZW50X19saW5rOmhvdmVyIHtcbiAgICAgIGNvbG9yOiBibHVlOyB9XG5cbi5kcm9wZG93bi1jb250ZW50IGEge1xuICBjb2xvcjogYmxhY2s7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGZvbnQtc2l6ZTogMXJlbTtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTsgfVxuXG4uZHJvcGRvd24tY29udGVudCBhOmhvdmVyIHtcbiAgZmxleDogMCAwIDEwMCU7XG4gIGJhY2tncm91bmQtY29sb3I6ICNkZGQ7XG4gIGNvbG9yOiBibHVlO1xuICBoZWlnaHQ6IDEuNXJlbTsgfVxuICAuZHJvcGRvd24tY29udGVudCBhOmhvdmVyX19saW5rIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH1cblxuLmRyb3Bkb3duOmhvdmVyIC5kcm9wZG93bi1jb250ZW50IHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1ldmVubHk7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgwLjUlKSB0cmFuc2xhdGVYKC0yNSUpOyB9XG4gIC5kcm9wZG93bjpob3ZlciAuZHJvcGRvd24tY29udGVudF9fbGluazpob3ZlciB7XG4gICAgYWxpZ24tc2VsZjogY2VudGVyO1xuICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgZm9udC1zaXplOiAxcmVtOyB9XG5cbi5iZy1jYXJvdXNlbCB7XG4gIGdyaWQtcm93OiBmdWxsLXN0YXJ0IC8gLTE7XG4gIGdyaWQtY29sdW1uOiAxIC8gLTE7XG4gIHotaW5kZXg6IDA7IH1cbiAgLmJnLWNhcm91c2VsX19pbWctc2xpZGUge1xuICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGRpc3BsYXk6IGdyaWQ7XG4gICAgZ3JpZC10ZW1wbGF0ZS1yb3dzOiByZXBlYXQoNSwgMjB2aCk7XG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoNCwgMjV2dyk7IH1cblxuLmljb25ib3gge1xuICB6LWluZGV4OiAxO1xuICB0cmFuc2l0aW9uOiBhbGwgLjJzOyB9XG4gIC5pY29uYm94LS1sZWZ0IHtcbiAgICBoZWlnaHQ6IDVyZW07XG4gICAgd2lkdGg6IDVyZW07XG4gICAgZ3JpZC1yb3c6IDMgLyBzcGFuIDE7XG4gICAgZ3JpZC1jb2x1bW46IDEgLyBzcGFuIDE7XG4gICAganVzdGlmeS1zZWxmOiBjZW50ZXI7XG4gICAgYWxpZ24tc2VsZjogY2VudGVyO1xuICAgIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLWdyZXktbGlnaHQtNCk7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVYKC0xMHJlbSk7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyOyB9XG4gIC5pY29uYm94LS1yaWdodCB7XG4gICAgaGVpZ2h0OiA1cmVtO1xuICAgIHdpZHRoOiA1cmVtO1xuICAgIGdyaWQtcm93OiAzIC8gc3BhbiAxO1xuICAgIGdyaWQtY29sdW1uOiA0IC8gc3BhbiAxO1xuICAgIGp1c3RpZnktc2VsZjogY2VudGVyO1xuICAgIGFsaWduLXNlbGY6IGNlbnRlcjtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jb2xvci1ncmV5LWxpZ2h0LTQpO1xuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgxMHJlbSk7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyOyB9XG5cbi5pY29uLS1sZWZ0IHtcbiAgaGVpZ2h0OiAycmVtO1xuICB3aWR0aDogMnJlbTsgfVxuXG4uaWNvbi0tcmlnaHQge1xuICBoZWlnaHQ6IDJyZW07XG4gIHdpZHRoOiAycmVtOyB9XG5cbi5pbWctZGV0YWlscyB7XG4gIGJhY2tncm91bmQtY29sb3I6IHZhcigtLWNvbG9yLWJsYWNrLWxpZ2h0KTtcbiAgY29sb3I6IHdoaXRlO1xuICB6LWluZGV4OiAxO1xuICBwYWRkaW5nOiAxcmVtIDFyZW07XG4gIGdyaWQtcm93OiAzIC8gLTE7XG4gIGdyaWQtY29sdW1uOiAxIC8gc3BhbiAyO1xuICBhbGlnbi1zZWxmOiBlbmQ7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgbGV0dGVyLXNwYWNpbmc6IC41cmVtO1xuICBmb250LXNpemU6IDEuNXJlbTsgfVxuICAuaW1nLWRldGFpbHNfX2hlYWRlciB7XG4gICAgY29sb3I6IGdyZXk7IH1cbiAgLmltZy1kZXRhaWxzX19wb3J0Zm9saW8tdGl0bGUge1xuICAgIGNvbG9yOiB3aGl0ZTsgfVxuXG4uc3Rvcnkge1xuICBoZWlnaHQ6IDI1dmg7XG4gIG1hcmdpbi10b3A6IDJyZW07XG4gIGdyaWQtcm93OiByb3ctc3RhcnQgMSAvIHJvdy1lbmQgMTtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiBbZnVsbC1zdGFydF0gMWZyIFtpbWFnZS1zdGFydF0gNTAlIFtpbWFnZS1lbmQgYmlvLXN0YXJ0XSA0MCUgW2Jpby1lbmRdIDFmciBbZnVsbC1lbmRdOyB9XG4gIC5zdG9yeV9fYXJ0aXN0LXBpY3Mge1xuICAgIGdyaWQtY29sdW1uOiBmdWxsLXN0YXJ0IC8gaW1hZ2UtZW5kO1xuICAgIGJhY2tncm91bmQtaW1hZ2U6IGxpbmVhci1ncmFkaWVudChyZ2JhKDg3LCAxMDIsIDE1MywgMC41NSksIHJnYmEoNzQsIDkzLCAxNTMsIDAuNTUpKSwgdXJsKFwiL2Nzcy9pbWFnZXMvYWVyaWFsMi5qcGdcIik7XG4gICAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XG4gICAgZGlzcGxheTogZ3JpZDtcbiAgICBncmlkLXRlbXBsYXRlLXJvd3M6IHJlcGVhdCg2LCAxZnIpO1xuICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDYsIDFmcik7IH1cbiAgLnN0b3J5X19pbWctMSB7XG4gICAgd2lkdGg6IDEwMCU7IH1cbiAgLnN0b3J5X19pbWctMiB7XG4gICAgd2lkdGg6IDEwMCU7IH1cbiAgLnN0b3J5X19hcnRpc3QtYmlvIHtcbiAgICBncmlkLWNvbHVtbjogYmlvLXN0YXJ0IC8gZnVsbC1lbmQ7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogcGluazsgfVxuIl19 */