/*
COLORS
*/
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 1.5rem 4rem 5rem rgba(black, 0.15);
  --shadow-dark: 0 2rem 6rem 2rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-1); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*,
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.container {
  margin: auto;
  max-width: 120rem;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 3rem;
  min-height: 95vh;
  display: grid;
  grid-template-rows: 2rem 1fr repeat(6, 10vh) 1fr;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr;
  grid-gap: 0.5rem;
  grid-auto-flow: column; }

/* buttons and alerts Login and Register*/
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none; }

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333; }

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333; }

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff; }

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333; }

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff; }

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff; }

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff; }

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.btn:hover {
  opacity: 0.8; }

.bg-light,
.badge-light {
  border: #ccc solid 1px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*rotate(0deg);*/ }
  /* 60% {
    transform: rotate(180deg)
  } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-1 {
  font-family: 'Franklin Gothic Medium', 'Cormorant Garamond', Arial, sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-dark-blue-primary);
  padding-left: 2rem; }

.heading-primary {
  color: var(--color-dark-blue-primary);
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.text-center {
  text-align: center; }

.text-primary {
  color: var(--primary-color); }

.text-dark {
  color: var(--dark-color); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.margin-left-huge {
  margin-left: 10rem !important; }

.margin-left-bg {
  margin-left: 6rem !important; }

.margin-left-md {
  margin-left: 4rem !important; }

.margin-left-sm {
  margin-left: 2rem !important; }

.admin-dashboard {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  margin: 5rem 5rem; }
  .admin-dashboard__heading-box {
    padding: 2rem 2rem;
    margin-bottom: 6rem; }
  .admin-dashboard__primary {
    color: var(--color-dark-blue-primary);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .8rem;
    margin-bottom: 4rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .admin-dashboard__primary-sub {
    background-color: purple;
    animation: moveInRight 1s ease-out; }

.image-form {
  background-color: orangered;
  grid-row: content-start / content-end;
  grid-column: 2 / span 4;
  z-index: 0; }

.portfolio-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.upload-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

/* Forms */
.login-form {
  margin-top: 3rem;
  padding: 2rem 2rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem; }

.register-form {
  margin-top: 3rem;
  padding: 4rem 4rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem; }

.check-login-form {
  background-color: violet; }
  .check-login-form__entrance-text {
    background-color: wheat; }

.form-row {
  background-color: #3b5998; }
  .form-row__col-1 {
    background-color: #c4302b; }
  .form-row__col-2 {
    background-color: #888; }
  .form-row__col-1-of-1 {
    background-color: #38a1f3; }
  .form-row__label-for-checkbox {
    background-color: green; }

.btn-lost-password {
  background-color: black;
  color: white; }

.form .form-group {
  margin: 1.2rem 0; }

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888; }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc; }

.form input[type='submit'],
button {
  font: inherit; }

.form .social-input {
  display: flex; }

.form .social-input i {
  padding: 0.5rem;
  width: 4rem; }

.form .social-input i.fa-twitter {
  color: #38a1f3; }

.form .social-input i.fa-facebook {
  color: #3b5998; }

.form .social-input i.fa-instagram {
  color: #3f729b; }

.form .social-input i.fa-youtube {
  color: #c4302b; }

.form .social-input i.fa-linkedin {
  color: #0077b5; }

.table th,
.table td {
  padding: 1rem;
  text-align: left; }

.table th {
  background: var(--light-color); }

.bg-carousel {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100vh;
  width: 100vw;
  background-color: black; }
  .bg-carousel__img-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw); }

.iconbox {
  z-index: 1;
  position: relative;
  transition: all 0.2s; }
  .iconbox--left {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1; }
  .iconbox--right {
    grid-row: 5 / span 1;
    grid-column: 9 / span 1; }
  .iconbox--left, .iconbox--right {
    min-width: 7rem;
    min-height: 7rem;
    justify-self: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: hidden;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s; }
  .iconbox--left:hover, .iconbox--right:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .iconbox--left:hover::after, .iconbox--right:hover::after {
      height: 100%;
      width: 100%;
      opacity: .65; }
  .iconbox--left:active, .iconbox--right:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .iconbox--left::after, .iconbox--right::after {
    content: "";
    display: block;
    height: 1%;
    width: 1%;
    border-radius: 50%;
    background-color: #363636;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: all .2s; }

.icon--left,
.icon--right {
  height: 2rem;
  width: 2rem;
  fill: white; }
  .icon--left:active,
  .icon--right:active {
    fill: var(--primary-color); }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.footer {
  grid-row: 8 / -1;
  grid-column: 1 / -1; }

.PortfolioLink {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 1rem;
  display: flex;
  flex-direction: column; }
  .PortfolioLink__link:hover, .PortfolioLink__portfolioCard-img, .PortfolioLink__portfolioCard-txt {
    filter: brightness(1.1);
    color: #262626; }
  .PortfolioLink__portfolioCard-img {
    padding-right: 1fr;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative; }
    .PortfolioLink__portfolioCard-img:hover {
      filter: brightness(1.1); }
  .PortfolioLink__portfolioCard-txt {
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .75rem;
    font-size: 2rem;
    color: black;
    height: 6rem;
    margin-top: 2rem; }
    .PortfolioLink__portfolioCard-txt:hover {
      filter: brightness(1.1);
      color: var(--primary-color); }

.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%; }

.Loader {
  color: #942192;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.Loader:before,
.Loader:after {
  position: absolute;
  content: ''; }

.Loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.Loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.thumbnail {
  flex: 1;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black; }
  .thumbnail__img {
    display: block; }
    .thumbnail__img:hover {
      filter: brightness(1.1); }
  .thumbnail__img-details {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    letter-spacing: 1px; }
  .thumbnail__img-title {
    font-size: 2rem;
    color: black;
    line-height: 2.5rem;
    font-weight: 900;
    text-align: center;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-top: .7rem;
    margin-block-start: .7rem; }
    .thumbnail__img-title strong {
      font-size: 2rem; }
  .thumbnail__img-price {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    color: #9E9E9E;
    padding-top: .5rem; }
  .thumbnail:hover img {
    filter: brightness(1.1); }

.button {
  border: #303030 2px solid;
  border-radius: .4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: .6rem 2.3rem; }

.button-white {
  border: #303030 2px solid;
  border-radius: .4rem;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  padding: .6rem 2.2rem; }
  .button-white:hover {
    background-color: grey;
    color: black; }

.button-green {
  background-color: white;
  color: green; }
  .button-green:hover {
    background-color: yellowgreen;
    color: black; }

.pagination-ctrls-container {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center; }

.pagination-lg {
  margin: 2rem 20rem;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center; }

.page-ctrl-item {
  color: #B4B4B4;
  border-radius: 100px; }
  .page-ctrl-item:not(:last-child) {
    margin-right: 1rem; }
  .page-ctrl-item--active {
    color: black;
    background-color: #B4B4B4;
    margin-right: 1rem; }
  .page-ctrl-item:hover {
    color: black; }

.page-link {
  border-radius: 4px;
  color: #B4B4B4;
  height: 4.8rem;
  width: 4.8rem;
  padding: 0, 0;
  line-height: 4.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #e5e5e5; }
  .page-link:hover {
    background-color: #B4B4B4;
    color: black; }
  .page-link--active {
    background-color: #B4B4B4;
    color: black; }

.page-link-prev,
.page-link-next {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .page-link-prev:hover .page-link-prev__icon,
  .page-link-next:hover .page-link-prev__icon, .page-link-prev:hover
  .page-link-next__icon,
  .page-link-next:hover
  .page-link-next__icon {
    fill: black;
    overflow: hidden; }
  .page-link-prev__icon,
  .page-link-next__icon {
    height: 5rem;
    width: 5rem;
    fill: #B4B4B4; }
    .page-link-prev__icon:hover,
    .page-link-next__icon:hover {
      fill: black; }

.page-link-active {
  background-color: #B4B4B4;
  color: black; }

.footer-top {
  padding-bottom: 2rem; }

.media-links-list {
  display: flex;
  justify-content: center; }
  .media-links-list__item {
    width: 3rem;
    height: 3rem;
    padding: .5rem .5rem;
    margin-right: .25rem;
    margin-left: .25rem; }
  .media-links-list__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: black;
    cursor: pointer; }

.cart-empty {
  display: block;
  padding: 2.8rem 2.1rem;
  background-color: #fff;
  line-height: 3.8rem;
  font-weight: 700;
  font-size: 3.9rem; }

.return-to-shop {
  margin-top: 3.6rem;
  position: relative;
  display: inline-block;
  width: auto;
  line-height: 3.8rem;
  padding: 0 2.3rem;
  border: 2px solid #1e1e1e;
  text-align: left;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  outline: 0;
  letter-spacing: 1px;
  border-radius: 4px; }

.header-prompt {
  position: relative;
  font-family: 'Raleway';
  background-color: #fff;
  font-size: 1.3rem;
  display: block;
  padding: 2.8rem, 2.1rem;
  line-height: 3.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  letter-spacing: 1px; }

.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out; }

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px); } }

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.navbar {
  grid-column: 1 / -1;
  width: 100%;
  padding: .25rem 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  opacity: 1;
  top: 0;
  z-index: 10;
  /* Style The Dropdown Button */ }
  .navbar__logo {
    flex: 0 1 10%;
    height: 6rem;
    padding: 0 4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem; }
  .navbar__links {
    flex: 1;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 0;
    border-bottom: 1px black solid;
    background: var(--primary-color, 0.7);
    box-shadow: var(--shadow-dark); }
  .navbar__link {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem;
    width: 6rem; }
  .navbar__link:link,
  .navbar__link:visited .navbar__dropbtn {
    flex: 0 0 10%;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    width: 8rem;
    background-color: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2rem; }
    .navbar__link:link:hover,
    .navbar__link:visited .navbar__dropbtn:hover {
      color: #262626; }
  .navbar__icon {
    height: 2rem;
    width: 2rem; }
    .navbar__icon:hover {
      fill: #262626; }
  .navbar__dropdown .navbar__dropbtn {
    background-color: inherit;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1rem; }
  .navbar__dropdown:hover .navbar__dropdown-container {
    display: flex;
    background-color: #1a1a1a;
    box-shadow: var(--shadow-medium);
    z-index: 1001; }
  .navbar__dropdown-container {
    background-color: #000000;
    /* need to set up a breakpoint so that if the image is too wide it will add some margin right to the container */
    position: absolute;
    display: none;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    min-width: 28rem;
    min-height: 15rem;
    transform: translateY(0.5%) translateX(-70%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    -webkit-transitions: opacity .2s ease-in-out; }
    .navbar__dropdown-container:hover {
      display: flex;
      color: white; }
  .navbar__dropdown-cart-list {
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    color: #9d9d9d;
    font-weight: 400;
    width: 100%;
    line-height: 2.6rem; }
  .navbar__dropdown-cart-listItem {
    list-style: none;
    max-width: 100%;
    max-height: 20rem; }
  .navbar__dropdown-item-link {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    align-self: start; }
    .navbar__dropdown-item-link:hover {
      color: #c3c3c3;
      text-decoration: none; }
      .navbar__dropdown-item-link:hover img {
        filter: brightness(1.1); }
      .navbar__dropdown-item-link:hover p {
        color: #fff; }
  .navbar__dropdown-item {
    font-family: 'Open sans';
    color: #9d9d9d;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #3d3d3d;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    align-items: center;
    font-size: 1.1rem;
    letter-spacing: 1px; }
  .navbar__dropdown-item-details {
    flex: 30%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between; }
  .navbar__dropdown-item-details p {
    display: inline-block; }
  .navbar__dropdown-item-title {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: .5px; }
  .navbar__dropdown-item-price {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff; }
  .navbar__dropdown-cart-icon {
    fill: #fff;
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 6px;
    margin-left: 16px; }
  .navbar__dropdown-cart-total {
    font-family: "Comorant Garamond";
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding-top: .4rem;
    color: #9d9d9d; }
    .navbar__dropdown-cart-total span {
      color: #e5e5e5; }
  .navbar__dropdown-cart-btn {
    border-color: #000000;
    color: #e5e5e5;
    background-color: #000000;
    text-decoration: none;
    text-align: left;
    font-size: 1.1rem;
    padding: 0 1.4rem;
    line-height: 30px;
    border: 2px solid #303030;
    height: 2.8rem;
    width: auto;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
    box-sizing: initial !important; }
    .navbar__dropdown-cart-btn:hover {
      text-decoration: none; }
      .navbar__dropdown-cart-btn:hover svg {
        fill: black; }

.name-first {
  flex: 0 1 10%;
  color: black;
  font-size: 3.5rem;
  z-index: 20;
  text-decoration: underline black; }

.name-last {
  flex: 0 1 50%;
  font-size: 9.5rem;
  padding-top: 3rem;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 20;
  transform: translateY(4px); }

.dropdown-cart-item--header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0; }

.cart {
  font-family: 'Cormorant Garamond';
  margin-top: 3rem;
  padding: 4rem 4rem;
  min-height: 120rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column; }
  .cart__heading {
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .cart__notices-box {
    margin-bottom: 2.5rem;
    padding: 2.8rem 2.1rem;
    display: flex;
    flex-direction: row;
    justify-items: space-between; }
  .cart__items-table {
    background: var(--light-color);
    padding: 1rem;
    text-align: left;
    border: 1px solid black; }
    .cart__items-table th {
      padding: 1.3rem 1rem;
      font-size: 1.4rem;
      color: black;
      text-align: left;
      text-transform: uppercase;
      background: white;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
    .cart__items-table th:last-child {
      border-right: 1px solid black; }
    .cart__items-table tr:not(:last-child) {
      border-bottom: 1px solid black; }
      .cart__items-table tr:not(:last-child) td:first-child {
        height: 6.3rem;
        width: .4rem;
        font-size: 20px;
        font-weight: 400;
        border-collapse: collapse;
        border-spacing: 0;
        color: #888;
        vertical-align: middle;
        text-align: center;
        border-right: 1px solid #e0dede; }
    .cart__items-table tr:last-child {
      background-color: blue; }
    .cart__items-table td {
      text-align: left;
      color: #888888;
      font-size: 2.2rem;
      background: white; }
  .cart__cart-summary {
    display: flex;
    align-self: flex-end;
    padding: 2rem 2rem;
    flex-direction: column;
    justify-items: flex-end;
    width: 30%;
    margin-top: 2rem; }

.item-remove {
  border: 1px solid black;
  color: #888888; }
  .item-remove .btn-remove {
    display: inline-block;
    text-align: center;
    outline: none;
    border: none;
    color: inherit;
    background-color: inherit; }

.item-image {
  height: 6.6rem;
  overflow: hidden;
  /* */ }
  .item-image__thumbnail {
    display: block;
    height: 6rem;
    width: 6rem; }

.actions-row {
  background-color: white; }

.cart-summary {
  margin-bottom: 3.1rem; }
  .cart-summary__header {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: uppercase; }
  .cart-summary__table {
    text-align: left;
    vertical-align: middle;
    font-size: 2.2rem; }
    .cart-summary__table tbody {
      vertical-align: baseline; }
    .cart-summary__table th {
      color: black;
      padding: .5rem .7rem .5rem 0rem;
      font-size: 2rem; }
    .cart-summary__table td {
      color: #888888;
      font-size: 2rem; }
      .cart-summary__table td span {
        font-size: 2rem; }
  .cart-summary__cart-total {
    font-size: 2.7rem; }

.coupon-input {
  border: none;
  outline: none; }

.checkout {
  font-family: 'Cormorant Garamond';
  margin-top: 3rem;
  padding: 4rem 4rem;
  min-height: 120rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column; }
  .checkout__options {
    display: flex;
    flex-direction: column; }
  .checkout__option {
    position: relative;
    font-family: 'Raleway';
    background-color: papayawhip;
    display: flex;
    padding: 2.8rem, 2.1rem;
    line-height: 3.8rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    letter-spacing: 1px;
    padding-left: 2.5rem;
    font-size: 1.3rem;
    color: #303030;
    padding: 2.8rem 2.1rem; }
  .checkout__login-toggle {
    font-size: 1.3rem;
    margin-left: .5rem; }
  .checkout__coupon-option {
    display: flex;
    width: 100%; }
    .checkout__coupon-option label {
      margin-right: .5rem;
      font-size: 1.3rem; }
    .checkout__coupon-option span {
      font-size: 1.3rem;
      cursor: pointer;
      flex: 40%;
      text-decoration: none; }
  .checkout__coupon-input-panel {
    margin: 5rem 2rem; }
  .checkout__summary {
    background-color: white; }
  .checkout__header {
    background-color: white;
    margin-top: 2.3rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    font-family: 'Cormorant Garamond'; }
  .checkout__table {
    background-color: white;
    width: 100%;
    vertical-align: middle;
    text-align: left;
    position: relative;
    font-size: 2rem;
    margin-bottom: 3.3rem;
    line-height: 2.6rem;
    display: table;
    zoom: 1; }
    .checkout__table thead {
      background-color: white;
      vertical-align: baseline;
      height: 4.9rem;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6; }
    .checkout__table tr {
      height: 4.7rem;
      font-size: 2rem; }
    .checkout__table th {
      background-color: white;
      font-family: 'Raleway';
      padding: 1rem 1.3rem;
      text-align: center;
      height: 2.2rem;
      font-weight: 600;
      font-size: 1.4rem; }
    .checkout__table tbody {
      background-color: white; }
      .checkout__table tbody tr {
        background-color: white;
        padding: 1rem;
        text-align: center;
        vertical-align: middle;
        color: #888888; }
        .checkout__table tbody tr td {
          font-size: 2rem; }
    .checkout__table tfoot {
      font-size: 2rem; }
      .checkout__table tfoot tr {
        background-color: white;
        padding: 1rem;
        text-align: center;
        vertical-align: middle;
        color: #888888; }
        .checkout__table tfoot tr td {
          font-size: 2rem; }
          .checkout__table tfoot tr td span {
            font-size: inherit; }

.result,
.error {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px; }

.error {
  color: #e4584c; }

.result {
  color: #666ee8; }

.card-form {
  max-width: 800px;
  margin: 80px auto;
  padding: 1rem 0rem 0rem 3.5rem;
  text-align: left;
  line-height: 2.6rem;
  font-family: 'Cormorant Garamond';
  font-size: 2rem;
  border: 1px solid #e0dede;
  width: 60rem; }
  .card-form__header {
    margin: 3.6rem 0rem; }
  .card-form__form-row {
    padding: .8rem;
    width: 100%; }
  .card-form__label {
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Cormorant Garamond';
    display: block;
    margin-left: 4rem; }
  .card-form__input {
    display: block;
    border: none;
    font-size: 18px;
    margin: 10px 0 20px 0;
    max-width: 100%;
    padding: 20px 24px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border-radius: 4px;
    background: white;
    color: #424770;
    letter-spacing: 0.025em;
    width: 500px; }
    .card-form__input::placeholder {
      color: #aab7c4; }
  .card-form__button {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 9rem; }
    .card-form__button:hover {
      color: #fff;
      cursor: pointer;
      background-color: #7795f8;
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); }
    .card-form__button[disabled] {
      opacity: 0.6; }
  .card-form__save-card-label {
    font-size: 1.4rem; }

.StripeElement {
  background-color: white;
  border-radius: 4px;
  padding: 2rem 2.4rem;
  width: 50rem;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  color: #424770;
  letter-spacing: 0.025em;
  font-size: 1.8rem; }

.billing-form {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .billing-form__col-1-of-2 {
    flex: 50%; }
  .billing-form__col-2-of-2 {
    flex: 50%; }
  .billing-form__header {
    font-size: 1.7rem; }
  .billing-form__input-label {
    font-size: 1.7rem;
    margin-left: 1rem; }

.select-option {
  display: block;
  border: none;
  font-size: 18px;
  margin: 10px 0 20px 0;
  max-width: 100%;
  padding: 20px 24px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
  color: #424770;
  letter-spacing: 0.025em;
  width: 500px; }

.option-text {
  color: #aab7c4; }

.artwork-view {
  flex: 1;
  display: flex;
  width: 100%;
  margin-bottom: 2rem; }
  .artwork-view__left-side {
    flex: 0 0 62.5%;
    height: auto; }

.selected-artwork-img {
  background-color: green;
  width: 65%;
  height: auto; }

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  line-height: 2.6rem;
  font-family: 'Cormorant Garamond', "sans-serif";
  color: #000000;
  font-size: 2rem;
  font-weight: 400; }
  .details-box__title {
    align-self: flex-start;
    font-family: "Cormorant Garamond", "sans-serif";
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 1rem; }
  .details-box__price {
    margin-top: 2.6rem;
    margin-bottom: 3.6rem;
    color: #9e9e9e;
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-transform: capitalize;
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    letter-spacing: 0.8px; }
  .details-box__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    line-height: 2.6rem;
    font-family: 'Cormorant Garamond', 'sans-serif';
    color: #000000; }
  .details-box__medium, .details-box__dimensions, .details-box__framed-dimensions {
    align-self: start;
    font-size: 2.2rem;
    color: black; }
  .details-box__available {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    margin-top: 3.6rem;
    margin-bottom: 3.6rem; }
  .details-box__artwork-details-meta {
    line-height: 2.6rem;
    font-family: 'Cormorant Garamond', sans-serif;
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    margin: 2.5rem 0rem;
    display: flex;
    flex-direction: column; }
    .details-box__artwork-details-meta p {
      align-self: start;
      margin: .25rem .25rem; }
  .details-box__out-of-stock-flag {
    height: 2.5rem;
    width: 2.5rem;
    background-color: red;
    border-radius: 50%;
    display: none; }
  .details-box__out-of-stock-message {
    font-family: 'Open Sans', "sans-serif";
    font-size: 2rem;
    line-height: 3rem;
    display: inline-block;
    font-weight: 700;
    color: #303030;
    padding-bottom: 1px;
    border-bottom: 2px solid;
    margin: .8rem 0; }
  .details-box__media-links-list {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem; }
  .details-box__media-list-item {
    background-color: black;
    border-radius: 4px;
    width: 3.8rem;
    height: 3.8rem;
    margin-left: .3rem;
    margin-right: .3rem;
    font-weight: 200;
    color: #303030;
    cursor: pointer;
    line-height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .details-box__media-item-icon {
    display: block;
    height: 3rem;
    width: 3rem;
    fill: seashell; }

.meta-details {
  color: black;
  font-size: 14px; }

.icons-list {
  background-color: purple;
  display: inline;
  line-height: 3.2rem; }

.portfolio {
  min-height: 80rem;
  max-width: 100vw;
  background-color: green;
  padding-top: 2rem;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio__dashboard {
    width: 70%;
    height: 30rem;
    background-color: blue; }

.portfolioLinks-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem; }

.related-artwork {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5rem;
  width: 100%; }
  .related-artwork__list {
    display: flex;
    justify-self: start;
    justify-content: space-evenly;
    width: 100%; }
  .related-artwork__listitem {
    width: 25rem;
    height: auto;
    list-style: none; }
    .related-artwork__listitem:not(:first-child) {
      margin-left: 3rem; }
  .related-artwork__item {
    flex: 1;
    text-decoration: none;
    color: #000000;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    line-height: 2.6rem; }
  .related-artwork__item-link {
    text-decoration: none; }
    .related-artwork__item-link:hover + .related-artwork__item-link:first-child {
      filter: brightness(1.1); }
  .related-artwork__item-img {
    position: relative; }
    .related-artwork__item-img:hover {
      filter: brightness(1.1); }
  .related-artwork__item-details {
    cursor: pointer;
    margin: .7rem 0 0;
    text-align: center;
    margin-bottom: 1rem; }
  .related-artwork__item-title {
    color: #000000;
    letter-spacing: 1px;
    padding: 0 1.5rem;
    text-align: center;
    transition: color .3s ease-in-out;
    font-family: "Cormorant Garamond", "sans-serif";
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700; }
  .related-artwork__item-price {
    cursor: pointer;
    text-align: center;
    color: #9e9e9e !important;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    letter-spacing: 0.8px; }

/*
container for related -- 
clear: both;

ul -- 
line-height: 26px;
font-size: 20px;





item --
line-height: 26px;
-webkit-font-smoothing: antialiased;
font-family: 'Cormorant Garamond', sans-serif;
color: #000000;
font-size: 20px;
font-weight: 400;
list-style: none;


margin-bottom: 24px;
width: 23.29545454545455%;
margin-right: 2.272727272727273%;
display: block;
height: 100%;
background-color: #fff;
clear: both;

top-product-img-section --
line-height: 26px;
font-size: 20px;
font-weight: 400;
list-style: none;
background: 0 0;
position: relative;
text-align: left;


title -- 
list-style: none;
cursor: pointer;
letter-spacing: 1px;
padding: 0 15px;
margin: 7px 0 0;
text-align: center;
transition: color .3s ease-in-out;
font-family: Cormorant Garamond, sans-serif;
font-size: 20px;
line-height: 25px;
font-weight: 700;
color: #000000;
margin-bottom: 10px;

price --
list-style: none;
cursor: pointer;
text-align: center;
color: #9e9e9e !important;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
font-family: Open Sans, sans-serif;
font-style: normal;
font-weight: 600;
letter-spacing: -0.8px;
*/
.shop {
  font-family: 'Cormorant Garamond';
  margin-top: 3rem;
  padding: 4rem 4rem;
  min-height: 100rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .shop__heading {
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .shop__search-box {
    font-size: 5rem;
    text-transform: uppercase;
    min-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom: 3rem; }
  .shop__search-heading {
    align-self: flex-start;
    font-size: 3rem;
    margin-bottom: 1rem; }
  .shop__search {
    align-self: flex-start;
    width: 100%;
    display: flex; }
  .shop .search__input {
    font-size: 70%;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    overflow: hidden;
    transition: all .2s; }
    .shop .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .shop .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .shop .search__button {
    background-color: var(--color-grey-light-2);
    width: 4rem;
    height: 4rem;
    align-self: center;
    border: none;
    transform: translateX(-6.5rem); }
    .shop .search__button:focus {
      outline: none; }
  .shop .search__icon {
    height: 80%;
    width: 80%;
    fill: var(--color-grey-dark-3);
    z-index: -1; }
  .shop__featured-collections {
    min-width: 110rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px black solid; }
  .shop__featured-artwork {
    min-width: 100vw;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; }
    .shop__featured-artwork--heading {
      flex: 100%;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 3rem;
      display: flex;
      justify-content: flex-start; }
      .shop__featured-artwork--heading--heading-sub {
        font-size: 4rem;
        font-style: italic; }
    .shop__featured-artwork--inventory {
      flex: 100%; }
  .shop__prints {
    background-color: bisque;
    margin-top: 5rem;
    min-height: 80rem;
    min-width: 110rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-right: 20rem; }

.inventory {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .inventory__artwork {
    flex: 1 0 50%;
    display: flex;
    justify-content: space-around; }

.artist-view {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 4rem 4rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-areas: "head head" "bio img" "bio img" "btn img"; }
  .artist-view .heading-1 {
    grid-area: head; }
  .artist-view__bio {
    grid-area: bio;
    padding: 2rem 2rem;
    display: flex; }
  .artist-view__photo-box {
    grid-area: img; }
  .artist-view__img {
    display: block;
    width: 100%;
    padding: 2rem 2rem; }
  .artist-view__contact-btn-box {
    grid-area: btn;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-around; }
    .artist-view__contact-btn-box .btn-inline {
      background-color: purple;
      flex: 1;
      height: 5rem;
      border-radius: 12rem; }

.exhibitions {
  grid-row: 3 / 8;
  grid-column: 1 / -1;
  background-color: red;
  margin-top: 3rem;
  padding: 4rem 4rem;
  height: 100rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  text-align: center; }
