/*
COLORS
*/
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 1.5rem 4rem rgba(black, 0.15);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-1); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*,
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.container {
  margin: auto;
  max-width: 110rem;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  min-height: 95vh;
  display: grid;
  grid-template-rows: 2rem 1fr repeat(6, 10vh) 1fr;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr;
  grid-gap: 0.5rem;
  grid-auto-flow: column; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*rotate(0deg);*/ }
  /* 60% {
    transform: rotate(180deg)
  } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-1 {
  font-family: 'Franklin Gothic Medium', 'Cormorant Garamond', Arial, sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-dark-blue-primary);
  padding-left: 2rem; }

.heading-primary {
  color: var(--color-dark-blue-primary);
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navbar {
  grid-column: 1 / -1;
  width: 100%;
  padding: .25rem 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  opacity: 1;
  top: 0; }
  .navbar__logo {
    flex: 0 1 10%;
    height: 6rem;
    padding: 0 4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem; }
  .navbar__links {
    flex: 1;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 0;
    border-bottom: 1px black solid;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-dark);
    opacity: .7; }
  .navbar__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem;
    width: 6rem; }
  .navbar__link:link, .navbar__link:visited, .navbar__dropbtn {
    flex: 0 0 10%;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    width: max-content;
    background-color: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2; }
    .navbar__link:link:hover, .navbar__link:visited:hover, .navbar__dropbtn:hover {
      color: blue; }
  .navbar__dropdown {
    background-color: none; }
  .navbar__dropdown .navbar__dropbtn {
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1rem; }
  .navbar__dropdown:hover .navbar__dropdown-list {
    display: flex; }
  .navbar__dropdown-list {
    background-color: black;
    position: absolute;
    display: none;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20rem;
    min-height: 25rem;
    transform: translateY(-6%) translateX(-30%);
    clip-path: polygon(0 5%, 45% 5%, 50% 0%, 50% 0%, 55% 5%, 100% 5%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .navbar__dropdown-list:hover {
      display: flex;
      color: white; }
  .navbar__portfolio-link {
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem; }
    .navbar__portfolio-link:hover {
      background-color: #262626;
      width: 100%;
      background-color: blueviolet;
      color: white;
      text-decoration: none; }
  .navbar__icon {
    height: 2rem;
    width: 2rem; }
    .navbar__icon:hover {
      fill: blue; }

.name-first {
  flex: 0 1 10%;
  color: black;
  font-size: 3.5rem;
  z-index: 2;
  text-decoration: underline black; }

.name-last {
  flex: 0 1 50%;
  font-size: 9.5rem;
  padding-top: 3rem;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 2;
  transform: translateY(4px); }

.image-form {
  background-color: orangered;
  grid-row: content-start / content-end;
  grid-column: 2 / span 4;
  z-index: 0; }

.portfolio-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.upload-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.login-form {
  margin-top: 3rem;
  padding: 4rem 4rem;
  max-height: 60rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.form {
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.form-group {
  padding: .5rem 2rem; }
  .form-group input {
    height: 4rem;
    width: 100%; }

.register-form {
  margin-top: 3rem;
  padding: 4rem 4rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.form {
  padding: 3rem 0;
  background-color: purple; }

.form-group {
  margin-top: 1rem; }

.bg-carousel {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100vh;
  width: 100vw;
  background-color: black; }
  .bg-carousel__img-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw);
    box-shadow: var(--shadow-dark); }

.iconbox {
  z-index: 1;
  transition: all 0.2s; }
  .iconbox--left {
    height: 5rem;
    width: 5rem;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    background-color: inherit;
    border-radius: 360px;
    transform: translateX(-10rem);
    display: flex;
    justify-content: center;
    align-items: center; }
    .iconbox--left:hover {
      background-color: white; }
  .iconbox--right {
    height: 5rem;
    width: 5rem;
    margin-right: 8rem;
    grid-row: 5 / span 1;
    grid-column: 9 / span 1;
    justify-self: center;
    align-self: center;
    background-color: inherit;
    transform: translateX(10rem);
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .iconbox--right:hover {
      background-color: white; }

.icon--left {
  height: 2rem;
  width: 2rem; }

.icon--right {
  height: 2rem;
  width: 2rem; }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.artist-view {
  margin-top: 3rem;
  padding: 4rem 4rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-areas: "head head" "bio img" "bio img" "btn img"; }
  .artist-view .heading-1 {
    grid-area: head; }
  .artist-view__bio {
    grid-area: bio;
    padding: 2rem 2rem;
    display: flex; }
  .artist-view__photo-box {
    grid-area: img; }
  .artist-view__img {
    display: block;
    width: 100%;
    padding: 2rem 2rem; }
  .artist-view__contact-btn-box {
    grid-area: btn;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-around; }
    .artist-view__contact-btn-box .btn-inline {
      background-color: purple;
      flex: 1;
      height: 5rem;
      border-radius: 12rem; }

.portfolio {
  min-height: 80rem;
  max-width: 100vw;
  background-color: green;
  padding-top: 2rem;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio__dashboard {
    width: 70%;
    height: 30rem;
    background-color: blue; }

.portfolioLinks-list {
  background-color: orangered;
  width: 100%;
  height: 55rem;
  grid-row: 8 / -1;
  grid-column: 1 / -1; }
  .portfolioLinks-list__container {
    margin-top: 4rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.shop {
  font-family: 'Cormorant Garamond';
  margin-top: 3rem;
  padding: 4rem 4rem;
  height: 100rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .shop__heading {
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .shop__search-box {
    font-size: 5rem;
    text-transform: uppercase;
    min-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem; }
  .shop__search-heading {
    align-self: flex-start;
    margin-bottom: 1rem; }
  .shop__search {
    align-self: flex-start;
    width: 100%;
    display: flex; }
  .shop .search__input {
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all .2s; }
    .shop .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .shop .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .shop .search__button {
    background-color: var(--color-grey-light-2);
    width: 5rem;
    height: 5rem;
    align-self: center;
    border: none;
    transform: translateX(-6.5rem); }
    .shop .search__button:focus {
      outline: none; }
  .shop .search__icon {
    height: 80%;
    width: 80%;
    fill: var(--color-grey-dark-3); }
  .shop__featured-collections {
    background-color: palevioletred;
    min-height: 52rem;
    min-width: 110rem;
    margin-top: 5rem;
    margin-left: 1rem; }
  .shop__featured-exhibitions {
    background-color: rebeccapurple;
    margin-top: 5rem;
    margin-left: 1rem; }
  .shop__prints {
    background-color: bisque;
    margin-top: 5rem;
    margin-left: 1rem; }

.imageCard {
  position: relative;
  text-align: center;
  color: white;
  display: flex; }
  .imageCard:hover {
    filter: brightness(1.1);
    color: yellow; }

.portfolioLink {
  display: block;
  height: 100%;
  width: 30rem;
  text-align: center; }
  .portfolioLink__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1.7rem; }
    .portfolioLink__title:hover {
      filter: brightness(1.1); }

.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%; }

.Loader {
  color: #942192;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.Loader:before,
.Loader:after {
  position: absolute;
  content: ''; }

.Loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.Loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
