/*
COLORS
*/
:root {
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-grey-light-1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  padding: 2rem 2rem; }

.heading-4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.6rem;
  color: var(--color-dark-blue-primary); }

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: [full-start] 1fr [header-start] 20vh [header-end content-start] -webkit-min-content [content-end] 1fr [full-end];
  grid-template-rows: [full-start] 1fr [header-start] 20vh [header-end content-start] min-content [content-end] 1fr [full-end];
  grid-template-columns: repeat(8, [col-start] minmax(-webkit-min-content, 20rem) [col-end]);
  grid-template-columns: repeat(8, [col-start] minmax(min-content, 20rem) [col-end]); }

.navbar {
  padding: 0rem 0rem;
  grid-row: full-start / header-start;
  grid-column: 1 / -1;
  height: 50%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .navbar__artist {
    flex: 0 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
  .navbar__links {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden; }
  .navbar__link:link, .navbar__link:visited, .navbar__dropbtn {
    color: black;
    cursor: pointer;
    font-weight: 200;
    text-decoration: none;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    line-height: 2; }
    .navbar__link:link:hover, .navbar__link:visited:hover, .navbar__dropbtn:hover {
      color: blue; }

.name-first {
  font-size: 3.5rem;
  color: black;
  z-index: 2;
  -webkit-text-decoration: underline black;
          text-decoration: underline black; }

.name-last {
  font-size: 9.5rem;
  padding-top: 3rem;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
          clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 2; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16rem;
  min-height: 20rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content__link {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .dropdown-content__link:hover {
      color: blue;
      padding: .5rem 0; }

.dropdown-content a {
  color: black;
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase; }

.dropdown-content a:hover {
  flex: 0 0 100%;
  background-color: #ddd;
  color: blue;
  height: 1.5rem; }
  .dropdown-content a:hover__link {
    display: flex;
    flex-direction: row;
    justify-content: center; }

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(0.5%) translateX(-25%); }
  .dropdown:hover .dropdown-content__link:hover {
    align-self: center;
    text-transform: uppercase;
    font-size: 1rem; }

.bg-carousel {
  grid-row: full-start / -1;
  grid-column: 1 / -1;
  z-index: 0; }
  .bg-carousel__img-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr); }

.chevron-left {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  justify-self: center;
  align-self: center;
  background-color: yellowgreen;
  z-index: 1; }

.chevron-right {
  grid-row: 2 / span 1;
  grid-column: 4 / span 1;
  justify-self: center;
  align-self: center;
  background-color: purple;
  z-index: 1; }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 2;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.story {
  height: 25vh;
  margin-top: 2rem;
  grid-row: row-start 1 / row-end 1;
  display: grid;
  grid-template-columns: [full-start] 1fr [image-start] 50% [image-end bio-start] 40% [bio-end] 1fr [full-end]; }
  .story__artist-pics {
    grid-column: full-start / image-end;
    background-image: linear-gradient(rgba(87, 102, 153, 0.55), rgba(74, 93, 153, 0.55)), url("/css/images/aerial2.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr); }
  .story__img-1 {
    width: 100%; }
  .story__img-2 {
    width: 100%; }
  .story__artist-bio {
    grid-column: bio-start / full-end;
    background-color: pink; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNvbXAuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOztDQUVDO0FBQ0Q7RUFDRSx5QkFBeUI7RUFDekIsNEJBQTRCO0VBQzVCLHdCQUF3QjtFQUN4Qiw4QkFBOEI7RUFDOUIsNkJBQTZCO0VBQzdCLDZCQUE2QjtFQUM3Qiw2QkFBNkI7RUFDN0IsNkJBQTZCO0VBQzdCLDBCQUEwQjtFQUMxQix5QkFBeUI7RUFDekIseUJBQXlCO0VBQ3pCLHlCQUF5QjtFQUN6Qiw4Q0FBOEM7RUFDOUMsNENBQTRDO0VBQzVDLDJDQUEyQyxFQUFFOztBQUUvQztFQUNFLFNBQVM7RUFDVCxVQUFVLEVBQUU7O0FBRWQ7OztFQUdFLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLHNCQUFzQjtFQUN0QixnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxxQ0FDUztFQUNULGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0Usd0VBQXdFO0VBQ3hFLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGlCQUFpQjtFQUNqQixxQ0FBcUMsRUFBRTs7QUFFekM7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLGFBQWE7RUFDYixvSUFBNEg7RUFBNUgsNEhBQTRIO0VBQzVILDBGQUFrRjtFQUFsRixrRkFBa0YsRUFBRTs7QUFFdEY7RUFDRSxrQkFBa0I7RUFDbEIsbUNBQW1DO0VBQ25DLG1CQUFtQjtFQUNuQixXQUFXO0VBQ1gsV0FBVztFQUNYLDZCQUE2QjtFQUM3QixVQUFVO0VBQ1YsYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixtQkFBbUIsRUFBRTtFQUNyQjtJQUNFLGFBQWE7SUFDYixhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLHVCQUF1QjtJQUN2QixtQkFBbUI7SUFDbkIsZ0JBQWdCLEVBQUU7RUFDcEI7SUFDRSxPQUFPO0lBQ1AsWUFBWTtJQUNaLGFBQWE7SUFDYixtQkFBbUI7SUFDbkIsNkJBQTZCO0lBQzdCLG1CQUFtQjtJQUNuQixnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLFlBQVk7SUFDWixlQUFlO0lBQ2YsZ0JBQWdCO0lBQ2hCLHFCQUFxQjtJQUNyQixlQUFlO0lBQ2YseUJBQXlCO0lBQ3pCLHFCQUFxQjtJQUNyQixjQUFjLEVBQUU7SUFDaEI7TUFDRSxXQUFXLEVBQUU7O0FBRW5CO0VBQ0UsaUJBQWlCO0VBQ2pCLFlBQVk7RUFDWixVQUFVO0VBQ1Ysd0NBQWdDO1VBQWhDLGdDQUFnQyxFQUFFOztBQUVwQztFQUNFLGlCQUFpQjtFQUNqQixpQkFBaUI7RUFDakIsa0hBQTBHO1VBQTFHLDBHQUEwRztFQUMxRyxZQUFZO0VBQ1osVUFBVSxFQUFFOztBQUVkO0VBQ0UsYUFBYTtFQUNiLGtCQUFrQjtFQUNsQix5QkFBeUI7RUFDekIsZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQiwrQ0FBK0M7RUFDL0MsVUFBVSxFQUFFO0VBQ1o7SUFDRSxhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLHVCQUF1QixFQUFFO0lBQ3pCO01BQ0UsV0FBVztNQUNYLGdCQUFnQixFQUFFOztBQUV4QjtFQUNFLFlBQVk7RUFDWixxQkFBcUI7RUFDckIsV0FBVztFQUNYLGVBQWU7RUFDZix5QkFBeUIsRUFBRTs7QUFFN0I7RUFDRSxjQUFjO0VBQ2Qsc0JBQXNCO0VBQ3RCLFdBQVc7RUFDWCxjQUFjLEVBQUU7RUFDaEI7SUFDRSxhQUFhO0lBQ2IsbUJBQW1CO0lBQ25CLHVCQUF1QixFQUFFOztBQUU3QjtFQUNFLGFBQWE7RUFDYixzQkFBc0I7RUFDdEIsNkJBQTZCO0VBQzdCLDRDQUE0QyxFQUFFO0VBQzlDO0lBQ0Usa0JBQWtCO0lBQ2xCLHlCQUF5QjtJQUN6QixlQUFlLEVBQUU7O0FBRXJCO0VBQ0UseUJBQXlCO0VBQ3pCLG1CQUFtQjtFQUNuQixVQUFVLEVBQUU7RUFDWjtJQUNFLHNCQUFzQjtJQUN0Qiw0QkFBNEI7SUFDNUIsMkJBQTJCO0lBQzNCLFdBQVc7SUFDWCxZQUFZO0lBQ1osYUFBYTtJQUNiLGtDQUFrQztJQUNsQyxxQ0FBcUMsRUFBRTs7QUFFM0M7RUFDRSxvQkFBb0I7RUFDcEIsdUJBQXVCO0VBQ3ZCLG9CQUFvQjtFQUNwQixrQkFBa0I7RUFDbEIsNkJBQTZCO0VBQzdCLFVBQVUsRUFBRTs7QUFFZDtFQUNFLG9CQUFvQjtFQUNwQix1QkFBdUI7RUFDdkIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtFQUNsQix3QkFBd0I7RUFDeEIsVUFBVSxFQUFFOztBQUVkO0VBQ0UsMENBQTBDO0VBQzFDLFlBQVk7RUFDWixVQUFVO0VBQ1Ysa0JBQWtCO0VBQ2xCLGdCQUFnQjtFQUNoQix1QkFBdUI7RUFDdkIsZUFBZTtFQUNmLGtCQUFrQjtFQUNsQix5QkFBeUI7RUFDekIscUJBQXFCO0VBQ3JCLGlCQUFpQixFQUFFO0VBQ25CO0lBQ0UsV0FBVyxFQUFFO0VBQ2Y7SUFDRSxZQUFZLEVBQUU7O0FBRWxCO0VBQ0UsWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixpQ0FBaUM7RUFDakMsYUFBYTtFQUNiLDRHQUE0RyxFQUFFO0VBQzlHO0lBQ0UsbUNBQW1DO0lBQ25DLG9IQUFvSDtJQUNwSCxzQkFBc0I7SUFDdEIsMkJBQTJCO0lBQzNCLGFBQWE7SUFDYixrQ0FBa0M7SUFDbEMscUNBQXFDLEVBQUU7RUFDekM7SUFDRSxXQUFXLEVBQUU7RUFDZjtJQUNFLFdBQVcsRUFBRTtFQUNmO0lBQ0UsaUNBQWlDO0lBQ2pDLHNCQUFzQixFQUFFIiwiZmlsZSI6InN0eWxlLnByZWZpeC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKlxyXG5DT0xPUlNcclxuKi9cbjpyb290IHtcbiAgLS1jb2xvci1ibGFjay1kYXJrOiBibGFjaztcbiAgLS1jb2xvci1ibGFjay1saWdodDogIzQ3NGU1ODtcbiAgLS1jb2xvci1wcmltYXJ5OiAjMjEyMzk2O1xuICAtLWNvbG9yLXByaW1hcnktbGlnaHQ6ICMzNTQ4ODU7XG4gIC0tY29sb3ItcHJpbWFyeS1kYXJrOiAjMGMwNzU1O1xuICAtLWNvbG9yLWdyZXktbGlnaHQtMTogI2ZhZjlmOTtcbiAgLS1jb2xvci1ncmV5LWxpZ2h0LTI6ICNmNGYyZjI7XG4gIC0tY29sb3ItZ3JleS1saWdodC0zOiAjZjBlZWVlO1xuICAtLWNvbG9yLWdyZXktbGlnaHQtNDogI2NjYztcbiAgLS1jb2xvci1ncmV5LWRhcmstMTogIzMzMztcbiAgLS1jb2xvci1ncmV5LWRhcmstMjogIzc3NztcbiAgLS1jb2xvci1ncmV5LWRhcmstMzogIzk5OTtcbiAgLS1zaGFkb3ctbGlnaHQ6IDAgMnJlbSA1cmVtIHJnYmEoMCwgMCwgMCwgLjA2KTtcbiAgLS1zaGFkb3ctZGFyazogMCAycmVtIDZyZW0gcmdiYSgwLCAwLCAwLCAuMyk7XG4gIC0tbGluZTogMXB4IHNvbGlkIHZhcigtLWNvbG9yLWdyZXktbGlnaHQtMSk7IH1cblxuKiB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDsgfVxuXG4qLFxuKjo6YmVmb3JlLFxuKjo6YWZ0ZXIge1xuICBib3gtc2l6aW5nOiBpbmhlcml0OyB9XG5cbmh0bWwge1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBmb250LXNpemU6IDYyLjUlOyB9XG5cbmJvZHkge1xuICBmb250LWZhbWlseTogJ09wZW4gU2FucycsXHIgc2Fucy1zZXJpZjtcbiAgZm9udC13ZWlnaHQ6IDQwMDtcbiAgbGluZS1oZWlnaHQ6IDEuNjtcbiAgcGFkZGluZzogMnJlbSAycmVtOyB9XG5cbi5oZWFkaW5nLTQge1xuICBmb250LWZhbWlseTogJ0ZyYW5rbGluIEdvdGhpYyBNZWRpdW0nLCAnQXJpYWwgTmFycm93JywgQXJpYWwsIHNhbnMtc2VyaWY7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7IH1cblxuLmhlYWRpbmctNCB7XG4gIGZvbnQtc2l6ZTogMS42cmVtO1xuICBjb2xvcjogdmFyKC0tY29sb3ItZGFyay1ibHVlLXByaW1hcnkpOyB9XG5cbi5jb250YWluZXIge1xuICB3aWR0aDogMTAwdnc7XG4gIGhlaWdodDogMTAwdmg7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGdyaWQtdGVtcGxhdGUtcm93czogW2Z1bGwtc3RhcnRdIDFmciBbaGVhZGVyLXN0YXJ0XSAyMHZoIFtoZWFkZXItZW5kIGNvbnRlbnQtc3RhcnRdIG1pbi1jb250ZW50IFtjb250ZW50LWVuZF0gMWZyIFtmdWxsLWVuZF07XG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDgsIFtjb2wtc3RhcnRdIG1pbm1heChtaW4tY29udGVudCwgMjByZW0pIFtjb2wtZW5kXSk7IH1cblxuLm5hdmJhciB7XG4gIHBhZGRpbmc6IDByZW0gMHJlbTtcbiAgZ3JpZC1yb3c6IGZ1bGwtc3RhcnQgLyBoZWFkZXItc3RhcnQ7XG4gIGdyaWQtY29sdW1uOiAxIC8gLTE7XG4gIGhlaWdodDogNTAlO1xuICB3aWR0aDogMTAwJTtcbiAgYmFja2dyb3VuZC1jb2xvcjogdHJhbnNwYXJlbnQ7XG4gIHotaW5kZXg6IDE7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7IH1cbiAgLm5hdmJhcl9fYXJ0aXN0IHtcbiAgICBmbGV4OiAwIDAgNDAlO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIG92ZXJmbG93OiBoaWRkZW47IH1cbiAgLm5hdmJhcl9fbGlua3Mge1xuICAgIGZsZXg6IDE7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWV2ZW5seTtcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgIG92ZXJmbG93OiBoaWRkZW47IH1cbiAgLm5hdmJhcl9fbGluazpsaW5rLCAubmF2YmFyX19saW5rOnZpc2l0ZWQsIC5uYXZiYXJfX2Ryb3BidG4ge1xuICAgIGNvbG9yOiBibGFjaztcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgZm9udC13ZWlnaHQ6IDIwMDtcbiAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XG4gICAgZm9udC1zaXplOiAycmVtO1xuICAgIHRleHQtdHJhbnNmb3JtOiBsb3dlcmNhc2U7XG4gICAgbGV0dGVyLXNwYWNpbmc6IDEuNXB4O1xuICAgIGxpbmUtaGVpZ2h0OiAyOyB9XG4gICAgLm5hdmJhcl9fbGluazpsaW5rOmhvdmVyLCAubmF2YmFyX19saW5rOnZpc2l0ZWQ6aG92ZXIsIC5uYXZiYXJfX2Ryb3BidG46aG92ZXIge1xuICAgICAgY29sb3I6IGJsdWU7IH1cblxuLm5hbWUtZmlyc3Qge1xuICBmb250LXNpemU6IDMuNXJlbTtcbiAgY29sb3I6IGJsYWNrO1xuICB6LWluZGV4OiAyO1xuICB0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZSBibGFjazsgfVxuXG4ubmFtZS1sYXN0IHtcbiAgZm9udC1zaXplOiA5LjVyZW07XG4gIHBhZGRpbmctdG9wOiAzcmVtO1xuICBjbGlwLXBhdGg6IHBvbHlnb24oMCUgMCUsIDAgMTAwJSwgMjUlIDEwMCUsIDAgNTclLCAxMDAlIDU3JSwgMTAwJSA2MCUsIDAgNTklLCAyNSUgMTAwJSwgMTAwJSAxMDAlLCAxMDAlIDApO1xuICBjb2xvcjogYmxhY2s7XG4gIHotaW5kZXg6IDI7IH1cblxuLmRyb3Bkb3duLWNvbnRlbnQge1xuICBkaXNwbGF5OiBub25lO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmOWY5Zjk7XG4gIG1pbi13aWR0aDogMTZyZW07XG4gIG1pbi1oZWlnaHQ6IDIwcmVtO1xuICBib3gtc2hhZG93OiAwcHggOHB4IDE2cHggMHB4IHJnYmEoMCwgMCwgMCwgMC4yKTtcbiAgei1pbmRleDogMTsgfVxuICAuZHJvcGRvd24tY29udGVudF9fbGluayB7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogcm93O1xuICAgIGp1c3RpZnktY29udGVudDogY2VudGVyOyB9XG4gICAgLmRyb3Bkb3duLWNvbnRlbnRfX2xpbms6aG92ZXIge1xuICAgICAgY29sb3I6IGJsdWU7XG4gICAgICBwYWRkaW5nOiAuNXJlbSAwOyB9XG5cbi5kcm9wZG93bi1jb250ZW50IGEge1xuICBjb2xvcjogYmxhY2s7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgd2lkdGg6IDEwMCU7XG4gIGZvbnQtc2l6ZTogMXJlbTtcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTsgfVxuXG4uZHJvcGRvd24tY29udGVudCBhOmhvdmVyIHtcbiAgZmxleDogMCAwIDEwMCU7XG4gIGJhY2tncm91bmQtY29sb3I6ICNkZGQ7XG4gIGNvbG9yOiBibHVlO1xuICBoZWlnaHQ6IDEuNXJlbTsgfVxuICAuZHJvcGRvd24tY29udGVudCBhOmhvdmVyX19saW5rIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XG4gICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7IH1cblxuLmRyb3Bkb3duOmhvdmVyIC5kcm9wZG93bi1jb250ZW50IHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1ldmVubHk7XG4gIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgwLjUlKSB0cmFuc2xhdGVYKC0yNSUpOyB9XG4gIC5kcm9wZG93bjpob3ZlciAuZHJvcGRvd24tY29udGVudF9fbGluazpob3ZlciB7XG4gICAgYWxpZ24tc2VsZjogY2VudGVyO1xuICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XG4gICAgZm9udC1zaXplOiAxcmVtOyB9XG5cbi5iZy1jYXJvdXNlbCB7XG4gIGdyaWQtcm93OiBmdWxsLXN0YXJ0IC8gLTE7XG4gIGdyaWQtY29sdW1uOiAxIC8gLTE7XG4gIHotaW5kZXg6IDA7IH1cbiAgLmJnLWNhcm91c2VsX19pbWctc2xpZGUge1xuICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIGRpc3BsYXk6IGdyaWQ7XG4gICAgZ3JpZC10ZW1wbGF0ZS1yb3dzOiByZXBlYXQoMywgMWZyKTtcbiAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCg0LCAxZnIpOyB9XG5cbi5jaGV2cm9uLWxlZnQge1xuICBncmlkLXJvdzogMiAvIHNwYW4gMTtcbiAgZ3JpZC1jb2x1bW46IDEgLyBzcGFuIDE7XG4gIGp1c3RpZnktc2VsZjogY2VudGVyO1xuICBhbGlnbi1zZWxmOiBjZW50ZXI7XG4gIGJhY2tncm91bmQtY29sb3I6IHllbGxvd2dyZWVuO1xuICB6LWluZGV4OiAxOyB9XG5cbi5jaGV2cm9uLXJpZ2h0IHtcbiAgZ3JpZC1yb3c6IDIgLyBzcGFuIDE7XG4gIGdyaWQtY29sdW1uOiA0IC8gc3BhbiAxO1xuICBqdXN0aWZ5LXNlbGY6IGNlbnRlcjtcbiAgYWxpZ24tc2VsZjogY2VudGVyO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiBwdXJwbGU7XG4gIHotaW5kZXg6IDE7IH1cblxuLmltZy1kZXRhaWxzIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tY29sb3ItYmxhY2stbGlnaHQpO1xuICBjb2xvcjogd2hpdGU7XG4gIHotaW5kZXg6IDE7XG4gIHBhZGRpbmc6IDFyZW0gMXJlbTtcbiAgZ3JpZC1yb3c6IDMgLyAtMTtcbiAgZ3JpZC1jb2x1bW46IDEgLyBzcGFuIDI7XG4gIGFsaWduLXNlbGY6IGVuZDtcbiAgdGV4dC1hbGlnbjogY2VudGVyO1xuICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xuICBsZXR0ZXItc3BhY2luZzogLjVyZW07XG4gIGZvbnQtc2l6ZTogMS41cmVtOyB9XG4gIC5pbWctZGV0YWlsc19faGVhZGVyIHtcbiAgICBjb2xvcjogZ3JleTsgfVxuICAuaW1nLWRldGFpbHNfX3BvcnRmb2xpby10aXRsZSB7XG4gICAgY29sb3I6IHdoaXRlOyB9XG5cbi5zdG9yeSB7XG4gIGhlaWdodDogMjV2aDtcbiAgbWFyZ2luLXRvcDogMnJlbTtcbiAgZ3JpZC1yb3c6IHJvdy1zdGFydCAxIC8gcm93LWVuZCAxO1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IFtmdWxsLXN0YXJ0XSAxZnIgW2ltYWdlLXN0YXJ0XSA1MCUgW2ltYWdlLWVuZCBiaW8tc3RhcnRdIDQwJSBbYmlvLWVuZF0gMWZyIFtmdWxsLWVuZF07IH1cbiAgLnN0b3J5X19hcnRpc3QtcGljcyB7XG4gICAgZ3JpZC1jb2x1bW46IGZ1bGwtc3RhcnQgLyBpbWFnZS1lbmQ7XG4gICAgYmFja2dyb3VuZC1pbWFnZTogbGluZWFyLWdyYWRpZW50KHJnYmEoODcsIDEwMiwgMTUzLCAwLjU1KSwgcmdiYSg3NCwgOTMsIDE1MywgMC41NSkpLCB1cmwoXCIvY3NzL2ltYWdlcy9hZXJpYWwyLmpwZ1wiKTtcbiAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcbiAgICBkaXNwbGF5OiBncmlkO1xuICAgIGdyaWQtdGVtcGxhdGUtcm93czogcmVwZWF0KDYsIDFmcik7XG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoNiwgMWZyKTsgfVxuICAuc3RvcnlfX2ltZy0xIHtcbiAgICB3aWR0aDogMTAwJTsgfVxuICAuc3RvcnlfX2ltZy0yIHtcbiAgICB3aWR0aDogMTAwJTsgfVxuICAuc3RvcnlfX2FydGlzdC1iaW8ge1xuICAgIGdyaWQtY29sdW1uOiBiaW8tc3RhcnQgLyBmdWxsLWVuZDtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiBwaW5rOyB9XG4iXX0= */