/*
COLORS
*/
:root {
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-grey-light-1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%; }

.heading-4 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400; }

.heading-4 {
  font-size: 1.6rem;
  color: var(--color-dark-blue-primary); }

.image-form {
  background-color: orangered;
  grid-row: content-start / content-end;
  grid-column: 2 / span 4;
  z-index: 0; }

.portfolio-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.upload-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.Login-form {
  grid-row: content-start / content-end;
  grid-column: 1 / -1; }

.Register-form {
  grid-row: content-start / content-end;
  grid-column: 1 / -1; }

.navbar {
  flex: 0 0 10%;
  width: 100%;
  padding: 0 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1; }
  .navbar__logo {
    flex: 0 0 40%;
    height: 12rem;
    padding: 0 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .navbar__links {
    flex: 1;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 0;
    border-bottom: 1px black solid; }
  .navbar__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem; }
  .navbar__link:link, .navbar__link:visited, .navbar__dropbtn {
    flex: 0 0 10%;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    background-color: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2; }
    .navbar__link:link:hover, .navbar__link:visited:hover, .navbar__dropbtn:hover {
      color: blue; }
  .navbar__dropdown {
    background-color: none; }
  .navbar__dropdown .navbar__dropbtn {
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1rem; }
  .navbar__dropdown:hover .navbar__dropdown-list {
    display: flex; }
  .navbar__dropdown-list {
    background-color: black;
    position: absolute;
    display: none;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20rem;
    min-height: 30rem;
    transform: translateY(-5%) translateX(-38%);
    clip-path: polygon(0 5%, 45% 5%, 50% 0%, 50% 0%, 55% 5%, 100% 5%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .navbar__dropdown-list:hover {
      display: flex; }
  .navbar__portfolio-link {
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem; }
    .navbar__portfolio-link:hover {
      text-align: center;
      background-color: blueviolet;
      color: white; }

.name-first {
  flex: 0 0 10%;
  color: black;
  font-size: 3.5rem;
  z-index: 2;
  text-decoration: underline black; }

.name-last {
  flex: 0 0 50%;
  font-size: 9.5rem;
  padding-top: 3rem;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 2;
  transform: translateY(4px); }

.bg-carousel {
  display: flex;
  flex-direction: column; }
  .bg-carousel__img-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw); }

.iconbox {
  z-index: 1;
  transition: all 0.2s; }
  .iconbox--left {
    height: 5rem;
    width: 5rem;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    background-color: var(--color-grey-light-4);
    transform: translateX(-10rem);
    display: flex;
    justify-content: center;
    align-items: center; }
  .iconbox--right {
    height: 5rem;
    width: 5rem;
    margin-right: 8rem;
    grid-row: 5 / span 1;
    grid-column: 9 / span 1;
    justify-self: center;
    align-self: center;
    background-color: var(--color-grey-light-4);
    transform: translateX(10rem);
    display: flex;
    justify-content: center;
    align-items: center; }

.icon--left {
  height: 2rem;
  width: 2rem; }

.icon--right {
  height: 2rem;
  width: 2rem; }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.about-artist {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row; }
  .about-artist__portrait {
    flex: 0 0 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: outset; }
  .about-artist__image {
    width: 80%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .about-artist__bio {
    background-color: orangered;
    text-align: center;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .about-artist__contact-info {
    background-color: green; }

.bio__text {
  background-color: purple;
  top: 50%;
  left: 50%; }
