/*
COLORS
*/
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-medium: 0 1.5rem 4rem 5rem rgba(black, 0.15);
  --shadow-dark: 0 2rem 6rem 2rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-1); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*,
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

.container {
  margin: auto;
  max-width: 120rem;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 3rem;
  min-height: 95vh;
  display: grid;
  grid-template-rows: 2rem 1fr repeat(6, 10vh) 1fr;
  grid-template-columns: 1fr repeat(8, minmax(min-content, 10rem)) 1fr;
  grid-gap: 0.5rem;
  grid-auto-flow: column; }

/* buttons and alerts Login and Register*/
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none; }

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333; }

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333; }

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff; }

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333; }

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff; }

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff; }

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff; }

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.btn:hover {
  opacity: 0.8; }

.bg-light,
.badge-light {
  border: #ccc solid 1px; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*rotate(0deg);*/ }
  /* 60% {
    transform: rotate(180deg)
  } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-1 {
  font-family: 'Franklin Gothic Medium', 'Cormorant Garamond', Arial, sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-dark-blue-primary);
  padding-left: 2rem; }

.heading-primary {
  color: var(--color-dark-blue-primary);
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.text-center {
  text-align: center; }

.text-primary {
  color: var(--primary-color); }

.text-dark {
  color: var(--dark-color); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.margin-left-huge {
  margin-left: 10rem !important; }

.margin-left-bg {
  margin-left: 6rem !important; }

.margin-left-md {
  margin-left: 4rem !important; }

.margin-left-sm {
  margin-left: 2rem !important; }

.navbar {
  grid-column: 1 / -1;
  width: 100%;
  padding: .25rem 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  opacity: 1;
  top: 0;
  z-index: 10; }
  .navbar__logo {
    flex: 0 1 10%;
    height: 6rem;
    padding: 0 4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem; }
  .navbar__links {
    flex: 1;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 0;
    border-bottom: 1px black solid;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-dark);
    opacity: .7; }
  .navbar__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem;
    width: 6rem; }
  .navbar__link:link, .navbar__link:visited {
    flex: 0 0 10%;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    width: max-content;
    background-color: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2; }
    .navbar__link:link:hover, .navbar__link:visited:hover {
      color: blue; }
  .navbar__icon {
    height: 2rem;
    width: 2rem; }
    .navbar__icon:hover {
      fill: blue; }

.name-first {
  flex: 0 1 10%;
  color: black;
  font-size: 3.5rem;
  z-index: 20;
  text-decoration: underline black; }

.name-last {
  flex: 0 1 50%;
  font-size: 9.5rem;
  padding-top: 3rem;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 20;
  transform: translateY(4px); }

.image-form {
  background-color: orangered;
  grid-row: content-start / content-end;
  grid-column: 2 / span 4;
  z-index: 0; }

.portfolio-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.upload-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

/* Forms */
.login-form {
  margin-top: 3rem;
  padding: 2rem 2rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem; }

.register-form {
  margin-top: 3rem;
  padding: 4rem 4rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem; }

.form .form-group {
  margin: 1.2rem 0; }

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888; }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 60%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc; }

.form input[type='submit'],
button {
  font: inherit; }

.form .social-input {
  display: flex; }

.form .social-input i {
  padding: 0.5rem;
  width: 4rem; }

.form .social-input i.fa-twitter {
  color: #38a1f3; }

.form .social-input i.fa-facebook {
  color: #3b5998; }

.form .social-input i.fa-instagram {
  color: #3f729b; }

.form .social-input i.fa-youtube {
  color: #c4302b; }

.form .social-input i.fa-linkedin {
  color: #0077b5; }

.table th,
.table td {
  padding: 1rem;
  text-align: left; }

.table th {
  background: var(--light-color); }

.bg-carousel {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100vh;
  width: 100vw;
  background-color: black; }
  .bg-carousel__img-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw); }

.iconbox {
  z-index: 1;
  position: relative;
  transition: all 0.2s; }
  .iconbox--left {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1; }
  .iconbox--right {
    grid-row: 5 / span 1;
    grid-column: 9 / span 1; }
  .iconbox--left, .iconbox--right {
    min-width: 7rem;
    min-height: 7rem;
    justify-self: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    overflow: hidden;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s; }
  .iconbox--left:hover, .iconbox--right:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
    .iconbox--left:hover::after, .iconbox--right:hover::after {
      height: 100%;
      width: 100%;
      opacity: .65; }
  .iconbox--left:active, .iconbox--right:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .iconbox--left::after, .iconbox--right::after {
    content: "";
    display: block;
    height: 1%;
    width: 1%;
    border-radius: 50%;
    background-color: #363636;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: all .2s; }

.icon--left,
.icon--right {
  height: 2rem;
  width: 2rem;
  fill: white; }
  .icon--left:active,
  .icon--right:active {
    fill: var(--primary-color); }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.artist-view {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 4rem 4rem;
  max-height: 80rem;
  min-width: 60rem;
  grid-row: 2 / -1;
  grid-column: 2 / 10;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-areas: "head head" "bio img" "bio img" "btn img"; }
  .artist-view .heading-1 {
    grid-area: head; }
  .artist-view__bio {
    grid-area: bio;
    padding: 2rem 2rem;
    display: flex; }
  .artist-view__photo-box {
    grid-area: img; }
  .artist-view__img {
    display: block;
    width: 100%;
    padding: 2rem 2rem; }
  .artist-view__contact-btn-box {
    grid-area: btn;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-around; }
    .artist-view__contact-btn-box .btn-inline {
      background-color: purple;
      flex: 1;
      height: 5rem;
      border-radius: 12rem; }

.portfolio {
  min-height: 80rem;
  max-width: 100vw;
  background-color: green;
  padding-top: 2rem;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio__dashboard {
    width: 70%;
    height: 30rem;
    background-color: blue; }

.portfolioLinks-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem; }

.shop {
  font-family: 'Cormorant Garamond';
  margin-top: 3rem;
  padding: 4rem 4rem;
  min-height: 100rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .shop__heading {
    font-size: 5.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .shop__search-box {
    font-size: 5rem;
    text-transform: uppercase;
    min-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom: 3rem; }
  .shop__search-heading {
    align-self: flex-start;
    font-size: 3rem;
    margin-bottom: 1rem; }
  .shop__search {
    align-self: flex-start;
    width: 100%;
    display: flex; }
  .shop .search__input {
    font-size: 70%;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    overflow: hidden;
    transition: all .2s; }
    .shop .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
  .shop .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .shop .search__button {
    background-color: var(--color-grey-light-2);
    width: 4rem;
    height: 4rem;
    align-self: center;
    border: none;
    transform: translateX(-6.5rem); }
    .shop .search__button:focus {
      outline: none; }
  .shop .search__icon {
    height: 80%;
    width: 80%;
    fill: var(--color-grey-dark-3);
    z-index: -1; }
  .shop__featured-collections {
    min-width: 110rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px black solid; }
  .shop__featured-artwork {
    min-width: 100vw;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; }
    .shop__featured-artwork--heading {
      flex: 100%;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 3rem;
      display: flex;
      justify-content: flex-start; }
      .shop__featured-artwork--heading--heading-sub {
        font-size: 4rem;
        font-style: italic; }
    .shop__featured-artwork--inventory {
      flex: 100%; }
  .shop__prints {
    background-color: bisque;
    margin-top: 5rem;
    min-height: 80rem;
    min-width: 110rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }

.heading {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  margin-right: 20rem; }

.inventory {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .inventory__artwork {
    flex: 1 0 50%;
    display: flex;
    justify-content: space-around; }

.selected-view {
  flex: 1;
  display: flex;
  width: 100%;
  margin-bottom: 8rem; }

.selected-artwork {
  width: 65%;
  height: auto; }

.details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start; }
  .details-box__title {
    font-size: 22px; }
  .details-box__price {
    font-family: sans-serif;
    font-size: 21px;
    color: #bcbcbc; }
  .details-box__medium {
    color: black;
    font-size: 22px; }
  .details-box__dimensions {
    font-size: 22px;
    color: black; }
  .details-box__framed-dimensions {
    font-size: 22px;
    color: black; }
  .details-box__out-of-stock {
    height: 2.5rem;
    width: 2.5rem;
    background-color: red;
    border-radius: 50%;
    display: inline-block; }

.meta-details {
  color: black;
  font-size: 14px; }

.icons-list {
  background-color: purple; }

.related-artwork-list {
  flex: 1 0 110%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%; }
  .related-artwork-list__item {
    display: flex; }
  .related-artwork-list .thumbnail {
    flex: 1;
    align-self: flex-start;
    width: 100%;
    display: flex; }
    .related-artwork-list .thumbnail__img {
      flex: 1;
      width: 70%; }

.exhibitions {
  grid-row: 3 / 8;
  grid-column: 1 / -1;
  background-color: red;
  margin-top: 3rem;
  padding: 4rem 4rem;
  height: 100rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  text-align: center; }

.cart {
  font-family: 'Cormorant Garamond';
  margin-top: 3rem;
  padding: 4rem 4rem;
  min-height: 120rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column; }
  .cart__heading {
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 5rem; }
  .cart__notices-box {
    margin-bottom: 2.5rem;
    padding: 2.8rem 2.1rem;
    display: flex;
    flex-direction: row;
    justify-items: space-between; }
  .cart__table {
    background: var(--light-color);
    padding: 1rem;
    text-align: left; }
    .cart__table th {
      padding: 1.3rem 1rem;
      font-size: 1.4rem;
      color: black;
      text-align: left;
      text-transform: uppercase;
      background: white;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
    .cart__table th:last-child {
      border-right: 1px solid black; }
    .cart__table tr:not(:last-child) {
      border-bottom: 1px solid black;
      border-right: 1px solid black; }
    .cart__table td {
      padding: .5rem 1rem;
      text-align: left;
      color: #888888;
      font-size: 2.2rem;
      background: white; }
  .cart__cart-summary {
    display: flex;
    align-self: flex-end;
    padding: 2rem 2rem;
    flex-direction: column;
    justify-items: flex-end;
    width: 30%;
    margin-top: 2rem;
    background-color: orangered; }

.item-remove {
  border: 1px solid black;
  position: relative; }
  .item-remove .btn-remove {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    color: inherit;
    background-color: inherit; }

.item-image {
  height: 66px;
  overflow: hidden; }
  .item-image__thumbnail {
    display: block;
    height: 6rem;
    width: 6rem; }

.coupon-input {
  border: none;
  outline: none; }

.cart-summary {
  margin-bottom: 3.1rem; }
  .cart-summary__header {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: uppercase; }
  .cart-summary__table {
    text-align: left;
    vertical-align: middle;
    font-size: 2.2rem; }
    .cart-summary__table tbody {
      vertical-align: baseline; }
    .cart-summary__table th {
      color: black;
      padding: .5rem .7rem .5rem 0rem; }
    .cart-summary__table td {
      color: #888888; }

.imageCard {
  position: relative;
  text-align: center;
  color: white;
  margin-right: 1rem;
  display: flex;
  flex-direction: column; }
  .imageCard__portfolioCard-img {
    padding-right: 1fr;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative; }
    .imageCard__portfolioCard-img:hover {
      filter: brightness(1.1); }
  .imageCard__portfolioCard-txt {
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: .75rem;
    font-size: 2rem;
    color: black;
    height: 6rem;
    margin-top: 2rem; }
    .imageCard__portfolioCard-txt:hover {
      filter: brightness(1.1);
      color: var(--primary-color); }

.Loader,
.Loader:before,
.Loader:after {
  border-radius: 50%; }

.Loader {
  color: #942192;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.Loader:before,
.Loader:after {
  position: absolute;
  content: ''; }

.Loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.Loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.thumbnail {
  flex: 1;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black; }
  .thumbnail__img {
    display: block; }
    .thumbnail__img:hover {
      filter: brightness(1.1); }
  .thumbnail__img-details {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    letter-spacing: 1px; }
  .thumbnail__img-title {
    font-size: 2rem;
    color: black;
    line-height: 2.5rem;
    font-weight: 900;
    text-align: center;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-top: .7rem;
    margin-block-start: .7rem; }
    .thumbnail__img-title strong {
      font-size: 2rem; }
  .thumbnail__img-price {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    color: #9E9E9E;
    padding-top: .5rem; }

.button {
  border: #303030 2px solid;
  border-radius: .4rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: .6rem 2.3rem; }

.button-white {
  border: #303030 2px solid;
  border-radius: .4rem;
  text-transform: uppercase;
  background-color: white;
  color: #1e1e1e;
  font-size: 1.5rem;
  padding: .6rem 2.2rem; }
  .button-white:hover {
    background-color: black;
    color: white; }

.button-green {
  background-color: white;
  color: green; }
  .button-green:hover {
    background-color: black;
    color: yellowgreen; }
