/*
COLORS
*/
:root {
  --color-black-dark: black;
  --color-black-light: #474e58;
  --color-primary: #212396;
  --color-primary-light: #354885;
  --color-primary-dark: #0c0755;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --shadow-medium: 0 1.5rem 4rem rgba(black, .15);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --line: 1px solid var(--color-grey-light-1); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(10, 10vh);
  grid-template-columns: repeat(10, 10vw);
  transform: translateX(-7.5%); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /*rotate(0deg);*/ }
  /* 60% {
    transform: rotate(180deg)
  } */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading-1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-dark-blue-primary);
  padding-left: 2rem; }

.heading-primary {
  color: var(--color-dark-blue-primary);
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.image-form {
  background-color: orangered;
  grid-row: content-start / content-end;
  grid-column: 2 / span 4;
  z-index: 0; }

.portfolio-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.upload-form {
  background-color: olivedrab;
  grid-row: content-start / content-end;
  grid-column: 1 / -1;
  z-index: 0; }

.login-form {
  background-color: var(--color-grey-light-1);
  grid-row: 4 / span 6;
  grid-column: 4 / span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 15rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.form {
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.form-group {
  padding: .5rem 2rem; }
  .form-group input {
    height: 4rem;
    width: 100%; }

.register-form {
  background-color: var(--color-grey-light-1);
  grid-row: 4 / -1;
  grid-column: 4 / span 4;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 15rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.form {
  padding: 3rem 0;
  background-color: purple; }

.form-group {
  margin-top: 1rem; }

.navbar {
  flex: 0 0 10%;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1; }
  .navbar__logo {
    flex: 0 0 20%;
    height: 12rem;
    padding: 0 4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .navbar__links {
    flex: 1;
    height: 20%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0 0;
    border-bottom: 1px black solid; }
  .navbar__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 6rem; }
  .navbar__link:link, .navbar__link:visited, .navbar__dropbtn {
    flex: 0 0 10%;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    background-color: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2; }
    .navbar__link:link:hover, .navbar__link:visited:hover, .navbar__dropbtn:hover {
      color: blue; }
  .navbar__dropdown {
    background-color: none; }
  .navbar__dropdown .navbar__dropbtn {
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    outline: none;
    border: none;
    font-size: 1rem; }
  .navbar__dropdown:hover .navbar__dropdown-list {
    display: flex; }
  .navbar__dropdown-list {
    background-color: black;
    position: absolute;
    display: none;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20rem;
    min-height: 25rem;
    transform: translateY(-6%) translateX(-30%);
    clip-path: polygon(0 5%, 45% 5%, 50% 0%, 50% 0%, 55% 5%, 100% 5%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .navbar__dropdown-list:hover {
      display: flex; }
  .navbar__portfolio-link {
    color: white;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 3rem; }
    .navbar__portfolio-link:hover {
      background-color: blueviolet;
      color: white;
      text-decoration: none; }
  .navbar__icon {
    height: 2rem;
    width: 2rem; }
    .navbar__icon:hover {
      fill: blue; }

.name-first {
  flex: 0 0 10%;
  color: black;
  font-size: 3.5rem;
  z-index: 2;
  text-decoration: underline black; }

.name-last {
  flex: 0 0 50%;
  font-size: 9.5rem;
  padding-top: 3rem;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  color: black;
  z-index: 2;
  transform: translateY(4px); }

.bg-carousel {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100%;
  width: 100%; }
  .bg-carousel__img-slide {
    height: 100%;
    width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw); }

.iconbox {
  z-index: 1;
  transition: all 0.2s; }
  .iconbox--left {
    height: 5rem;
    width: 5rem;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    background-color: inherit;
    border-radius: 360px;
    transform: translateX(-10rem);
    display: flex;
    justify-content: center;
    align-items: center; }
    .iconbox--left:hover {
      background-color: white; }
  .iconbox--right {
    height: 5rem;
    width: 5rem;
    margin-right: 8rem;
    grid-row: 5 / span 1;
    grid-column: 9 / span 1;
    justify-self: center;
    align-self: center;
    background-color: inherit;
    transform: translateX(10rem);
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .iconbox--right:hover {
      background-color: white; }

.icon--left {
  height: 2rem;
  width: 2rem; }

.icon--right {
  height: 2rem;
  width: 2rem; }

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem; }
  .img-details__header {
    color: grey; }
  .img-details__portfolio-title {
    color: white; }

.artist-story {
  margin: 8rem auto;
  padding: 6rem 4rem 4rem 4rem;
  min-height: 90rem;
  grid-row: 2 / -1;
  grid-column: 3 / span 6;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .artist-story__bio {
    margin-top: 3rem;
    display: flex; }
  .artist-story__text {
    flex: 1 0 48%;
    padding: 2rem 2rem; }
  .artist-story__img {
    flex: 0 0 52%;
    display: block;
    width: 8rem;
    padding: 4rem 2rem; }
  .artist-story__contact-info {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-around; }
    .artist-story__contact-info .btn-inline {
      background-color: purple;
      flex: 0 0 60%;
      height: 6rem;
      border-radius: 12rem; }

.portfolios {
  min-height: 80rem;
  max-width: 100vw;
  background-color: var(--color-grey-light-1);
  margin-top: 5rem;
  grid-row: 3 / span 6;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolios__container {
    width: 100%;
    height: 55rem;
    margin-top: 4rem;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.imageCard {
  position: relative;
  text-align: center;
  color: white;
  display: flex; }
  .imageCard:hover {
    filter: brightness(1.1);
    color: yellow; }

.portfolio-link {
  display: block;
  height: 100%;
  width: 30rem;
  text-align: center; }
  .portfolio-link__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1.7rem; }
    .portfolio-link__title:hover {
      filter: brightness(1.1); }
