.related-artwork {
  // flex: 1 0 110%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5rem;  
  width: 100%;
  // background-color: teal;

  &__list {
    display: flex;
    justify-self: start;
    justify-content: space-evenly;
    width: 100%;
    // background-color: blue;
  }

  &__listitem {
    width: 25rem;
    height: auto;
    list-style: none;


    &:not(:first-child) {
      margin-left: 3rem;
    }
  }


  &__item {
    flex: 1;
    text-decoration: none;
    color: #000000;
    // background-color: springgreen;
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    line-height: 2.6rem; 

  }

  &__item-link {
    text-decoration: none;

    &:hover+&:first-child {
      filter: brightness(1.1);
    }
  }

  &__item-img {
    position: relative;
  
    &:hover {
      filter: brightness(1.1);
    }
  }

  &__item-details {
    cursor: pointer;
    margin: .7rem 0 0;
    text-align: center;
    margin-bottom: 1rem;
    
  }

  &__item-title {
    color: #000000;
    letter-spacing: 1px;
    padding: 0 1.5rem;
    text-align: center;
    transition: color .3s ease-in-out;
    font-family: "Cormorant Garamond", "sans-serif";
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
  }

  &__item-price {
    cursor: pointer;
    text-align: center;
    color: #9e9e9e !important;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    letter-spacing: 0.8px;
  }

  // &__item-quantity {
    
  // }


}

/*
container for related -- 
clear: both;

ul -- 
line-height: 26px;
font-size: 20px;





item --
line-height: 26px;
-webkit-font-smoothing: antialiased;
font-family: 'Cormorant Garamond', sans-serif;
color: #000000;
font-size: 20px;
font-weight: 400;
list-style: none;


margin-bottom: 24px;
width: 23.29545454545455%;
margin-right: 2.272727272727273%;
display: block;
height: 100%;
background-color: #fff;
clear: both;

top-product-img-section --
line-height: 26px;
font-size: 20px;
font-weight: 400;
list-style: none;
background: 0 0;
position: relative;
text-align: left;


title -- 
list-style: none;
cursor: pointer;
letter-spacing: 1px;
padding: 0 15px;
margin: 7px 0 0;
text-align: center;
transition: color .3s ease-in-out;
font-family: Cormorant Garamond, sans-serif;
font-size: 20px;
line-height: 25px;
font-weight: 700;
color: #000000;
margin-bottom: 10px;

price --
list-style: none;
cursor: pointer;
text-align: center;
color: #9e9e9e !important;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
font-family: Open Sans, sans-serif;
font-style: normal;
font-weight: 600;
letter-spacing: -0.8px;
*/