
.artwork-view {

  flex: 1;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  // background-color: blue;
  
  &__left-side {
    // background-color: red;
    flex: 0 0 60%;
  }


}

.selected-artwork-img {
  // display: block;
  background-color: green;
  width: 65%;
  height: auto;
}

.details-box {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  line-height: 2.6rem;
  font-family: 'Cormorant Garamond', "sans-serif";
  color: #000000;
  font-size: 2rem;
  font-weight: 400;



  &__title {
    align-self: flex-start;
    font-family: "Cormorant Garamond", "sans-serif";
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 1rem;
  }

  &__price {
    margin-top: 2.6rem;
    margin-bottom: 3.6rem;
    color: #9e9e9e;
    font-size: 2.6rem;
    line-height: 2.6rem;
    text-transform: capitalize;
    font-family: "Open Sans", "sans-serif";
    font-weight: 600;
    letter-spacing: 0.8px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    line-height: 2.6rem;
    font-family: 'Cormorant Garamond', 'sans-serif';
    color: #000000;
  }

  &__medium, 
  &__dimensions,
  &__framed-dimensions {
    align-self: start;
    font-size: 2.2rem;
    color: black;
  }

  &__available {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 400;
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
  }

  &__artwork-details-meta {
    line-height: 2.6rem;
    font-family: 'Cormorant Garamond', sans-serif;
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    margin: 2.5rem 0rem;
    display: flex;
    flex-direction: column;
    
    p {
      align-self: start;
      margin: .25rem .25rem;
    }
  }


  &__out-of-stock-flag {
    height: 2.5rem;
    width: 2.5rem;
    background-color: red;
    border-radius: 50%;
    display: none;

  }

  &__out-of-stock-message {
    font-family: 'Open Sans', "sans-serif";
    font-size: 2rem;
    line-height: 3rem;
    display: inline-block;
    font-weight: 700;
    color: #303030;
    padding-bottom: 1px;
    border-bottom: 2px solid;
    margin: .8rem 0;
  }

  &__media-links-list {
    // background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    // width: min-content;
  }

  &__media-list-item {
    background-color: black;
    border-radius: 4px;
    width: 3.8rem;
    height: 3.8rem;
    margin-left: .3rem;
    margin-right: .3rem;
    font-weight: 200;
    color: #303030;
    cursor: pointer;
    line-height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;


  }

  &__media-item-icon {
    display: block;
    height: 3rem;
    width: 3rem;
    fill: seashell;
    // color: ;

  }
}

.meta-details {
  color: black;
  font-size: 14px;
}

.icons-list {
  background-color: purple;
  display: inline;
  // touch-action: manipulation;
  line-height: 3.2rem;
}

