//1 - 8
// .bg-carousel {

//   height: 100%;
//   grid-row: full-start / -1;
//   grid-column: 1 / -1;
//   z-index: 0;

// }

// .container {
//   width: 100%;
//   height: 100rem;

// }

.bg-carousel {
  display: flex;
  flex-direction: column;

  &__img-slide {
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // width: 100%;
    // height: 100%;

    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw);
    // align-items: center;
  }
}

.iconbox {
  z-index: 1;
  transition: all 0.2s;

  &--left {
    height: 5rem;
    width: 5rem;
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    justify-self: center;
    align-self: center;
    background-color: var(--color-grey-light-4);
    transform: translateX(-10rem);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--right {
    height: 5rem;
    width: 5rem;
    margin-right: 8rem;
    grid-row: 5 / span 1;
    grid-column: 9 / span 1;
    justify-self: center;
    align-self: center;
    background-color: var(--color-grey-light-4);
    transform: translateX(10rem);

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon--left {
  height: 2rem;
  width: 2rem;
}

.icon--right {
  height: 2rem;
  width: 2rem;
}

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;

  &__header {
    color: grey;
  }

  &__portfolio-title {
    color: white;
  }
}
