
.bg-carousel {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  height: 100vh;
  width: 100vw;
  background-color: black;
  


  &__img-slide {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    display: grid;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(10, 10vw);
  }
}

.iconbox {
  z-index: 1;
  position: relative;
  transition: all 0.2s;

  &--left {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
  }

  &--right {
    grid-row: 5 / span 1; 
    grid-column: 9 / span 1; 
  }

  &--left,
  &--right {
    min-width: 7rem;
    min-height: 7rem;
    justify-self: center;
    align-self: center;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    overflow: hidden;
    color: white;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;
  }

  &--left:hover,
  &--right:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);

    &::after {
      height: 100%;
      width: 100%;
      opacity: .65;
    }
  }

  &--left:active,
  &--right:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  &--left::after,
  &--right::after {
    content: "";
    display: block;
    height: 1%;
    width: 1%;
    border-radius: 50%;
    background-color: rgb(54, 54, 54);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: all .2s;
  }

}


.icon--left {
  height: 2rem;
  width: 2rem;
  fill: white;
}

.icon--right {
  height: 2rem;
  width: 2rem;
  fill: white;
}

.img-details {
  background-color: var(--color-black-light);
  color: white;
  z-index: 1;
  padding: 1rem 1rem;
  grid-row: 3 / -1;
  grid-column: 1 / span 4;
  align-self: end;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.5rem;

  &__header {
    color: grey;
  }

  &__portfolio-title {
    color: white;
  }
}
