.cart {
  grid-row: 3 / 8;
  grid-column: 1 / -1;
  margin-top: 3rem;
  padding: 4rem 4rem;
  height: 100rem;
  width: 100%;
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  text-align: center;
  background-color: orange;
  
}