




.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  // background-color: orangered;
  min-width: 16rem;
  min-height: 20rem;
  // transform: translateY(.5%) translateX(-25%);
  // min-height: 16rem;

  // min-width: 16rem;
  // clip-path: polygon(0 5%, 45% 5%, 50% 0%, 50% 0%, 55% 5%, 100% 5%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    

    &:hover {
      color: blue;
      // padding: .5rem 0;
    }
  }  
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
}

.dropdown-content a:hover {
  flex: 0 0 100%;
  background-color: #ddd;
  color: blue;
  height: 1.5rem;

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(.5%) translateX(-25%);
  // min-height: 16rem;

  // min-width: 16rem;
  // clip-path: polygon(0 5%, 45% 5%, 50% 0%, 50% 0%, 55% 5%, 100% 5%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);


  &__link:hover {
    align-self: center;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

