

.navbar {
  padding: 0rem 0rem;
  // flex: 0 0 10%;
  // height: 10rem;
  grid-row: full-start / header-start;
  grid-column: 1 / -1;
  height: 25%;
  width: 100%;
  // overflow: hidden;
  background-color: transparent;
  z-index: 1;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  // border-bottom: 1px black solid;

  &__artist {
    color: white;
    // background-color: blue;
    // flex: 0 0 60%;
    flex: 0 0 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
  }

  &__links {
    flex: 1;
    height: 100%;
    // background-color: purple;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-grey-light-4);
    // padding-bottom: 1rem;
  }

  &__link:link,
  &__link:visited,
  &__dropbtn {
    color: black;
    cursor: pointer;
    font-weight: 200;
    text-decoration: none;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 1.5px;
    line-height: 2;
    // background-color: var(--color-grey-dark-1);

    &:hover {
      color: blue;
    }
  }
}

.name-first {
  font-size: 3.5rem;
  color: black;
  // text-shadow: 1.5px -4px black;
  // color: black;
  // color: white;
  // transform: translateX(-650%);
  // background-color: yellow;
  z-index: 2;
  // text-decoration: underline black;
  text-decoration: underline black;
}

.name-last {
  font-size: 9.5rem;
  padding-top: 3rem;
  color: black;
  // text-shadow: 3px -8px black;
  // transform: translateX(-224%);
  // background-color: purple;
  clip-path: polygon(0% 0%, 0 100%, 25% 100%, 0 57%, 100% 57%, 100% 60%, 0 59%, 25% 100%, 100% 100%, 100% 0);
  // color: black;
  z-index: 2;
}




