
// .artist-image {
//   // background-image: url('/css/images/trees.jpg');
//   background-color: orangered;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
//   background-position: center;
//   height: 95%;
//   width: 95%;
// }

.story {
  height: 25vh;
  margin-top: 2rem;
  grid-row: full-start / full-end;
  grid-column: 1 / -1;
  
  display: grid;
  grid-template-columns: [full-start] 1fr [image-start] 50% [image-end bio-start] 40% [bio-end] 1fr [full-end];


  &__artist-pics {
    grid-column: full-start / image-end;
    background-image: linear-gradient(rgba(#576699, .55), rgba(#4a5d99, .55)),
    url('/css/images/aerial5d960x639.jpg');
    background-size: cover;
    background-position: center;
    // z-index: 1;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);

  }

  &__img-1 {
    width: 100%;
  }

  &__img-2 {
    width: 100%;
  }

  &__artist-bio {
      grid-column: bio-start / full-end;
      background-color: pink;
  }
  
}