
// .thumbnail {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
//   margin-top: 4rem;
//   margin-right: 6rem;
//   width: 45%;

//   &__img {
//     display: block;

//     &:hover {
//       filter: brightness(1.1);
//     }
//   }

//   &__img-details {
//     width: 45%;
//     display: flex;
//     flex-direction: column;
//   }

//   &__img-title {
//     font-size: 3rem;
//   } 

//   &__img-price {
//     font-size: 1.9rem;
//   }
// }


.thumbnail {
  flex: 1;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;

  &__img {
    display: block;

    &:hover {
      filter: brightness(1.1);
    }
  }

  &__img-details {
    flex: 1;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    letter-spacing: 1px;
  }

  &__img-title {
    font-size: 2rem;
    color: rgb(0,0,0);
    line-height: 2.5rem;
    font-weight: 900;
    text-align: center;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    margin-top: .7rem;
    margin-block-start: .7rem;
    

    strong {
      font-size: 2rem;
    }
  } 

  &__img-price {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    color: #9E9E9E;
    padding-top: .5rem;
  }

}