.login-form {
  background-color: var(--color-grey-light-3);
  grid-row: 4 / span 4 ;
  grid-column: 4 / span 4;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3rem 15rem;
  box-shadow: 0 1.5rem 4rem rgba(black, .15);
}



.form {
  padding: 3rem 0;
  background-color: purple;
}

.form-group {
  margin-top: 1rem;
}